
.go-mask{
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:100000;	
	//vertical-align:middle;
	//text-align:center;

	.go-mask-msg{
		position:absolute;
		top:50%;
		left:50%;
		width:250px;
		height:50px;

		margin-left:-125px;
		margin-top:-25px;

/*		line-height:50px;

		border: 1px solid $border-color;
		border-radius: 2px;

		background:white;	*/
		z-index:100001;
		//color:$primary-color;


	}

	.go-mask-screen{
		
		animation: mask 1s forwards; //from animate.scss
		
		position:absolute;
		top:0;
		bottom:0;
		right:0;
		left:0;
		z-index:100000;
		background-color:#f1f1f1;
		border-radius: 4px;
	}
}

@keyframes mask{
	0%{opacity: 0}
	100%{opacity: .5}
}
