.go-alerts{
	position:absolute;	
	width: 300px;	
	top: 10px;
	right: 0px;	
	overflow:hidden;
	div{
		transition: .3s ease-out all;
		
		&.ng-enter, &.ng-leave.ng-leave-active{
			transform: translateX(100%);
		}
		
		&.ng-enter.ng-enter-active{
			transform: translateX(0%);
		}
		
		//opacity: 0.8;
		
		padding: 10px;
		
		margin: 10px;
		
		border-radius: 2px;
		border-width: 1px;
		border-style: solid;

		&.success {
			background-color: $color-success-bg;
			border-color: $color-success-border;
			color: $color-success-text;
		}
		&.info {
			background-color: $color-info-bg;
			border-color: $color-info-border;
			color: $color-info-text;
		}

		&.warning{
			background-color: $color-warning-bg;
			border-color: $color-warning-border;
			color: $color-warning-text;
		}

		&.danger{
			background-color: $color-danger-bg;
			border-color: $color-danger-border;
			color: $color-danger-text;
		}
	}
}
