.go-alerts{
	
	
	position:absolute;
	
	bottom: 10px;
	right: 20px;
	
	div{
		opacity: 0.8;
		
		padding: 10px;
		
		margin-bottom: 10px;
		
		border-radius: 2px;
		border-width: 1px;	
		border-style: solid;


		&.warning{
			background-color: $color-warning-bg;
			border-color: $color-warning-border;
			color: $color-warning-text;
		}

		&.danger{
			background-color: $color-danger-bg;
			border-color: $color-danger-border;
			color: $color-danger-text;
		}
	}
}