/* rotate an element */

.animate {
	//enables ng-animate on element
}

.animate-spin{	
	display: inline-block;
	 -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
	animation:spin 2s linear infinite;	
}

@keyframes greyOut{
	0%{opacity: 1}
	100%{opacity: .5}
}

@keyframes spin { 100% { transform:rotate(360deg); } }
/* end rotate an element */


//a height value is required for this to work
.animate-show-height{
	
	transition: .2s ease-out all;
	overflow: hidden;
	&.ng-hide {  
		padding-top: 0px;
		padding-bottom:0px;
		
		height:0 !important;	
	}
}

