//variable names should start with the type like 'color', 'padding'
//not body-bg-color but color-body-bg.

$color-body-bg: white;
$color-small: $cGrey6;


$color-disabled: #ccc;


$background-color-btn-action: $cGreen5;


$color-active-bg: #428bca;
$color-active-text: white;
$color-active-border: darken(adjust-hue($color-active-bg, -10), 7%);

$color-primary-text: white;
$color-primary-bg: $cGoBlue7;
$color-primary-border: darken(adjust-hue($color-primary-bg, -10), 5%) !default;

$color-success-text: #3c763d !default;
$color-success-bg: #dff0d8 !default;
$color-success-border: darken(adjust-hue($color-success-bg, -10), 5%) !default;

$color-info-text: #31708f !default;
$color-info-bg: #d9edf7 !default;
$color-info-border: darken(adjust-hue($color-info-bg, -10), 7%) !default;

$color-warning-text: #8a6d3b !default;
$color-warning-bg: #fcf8e3 !default;
$color-warning-border: darken(adjust-hue($color-warning-bg, -10), 5%) !default;

$color-danger-text: #a94442 !default;
$color-danger-bg: #f2dede !default;
$color-danger-border: darken(adjust-hue($color-danger-bg, -10), 5%) !default;


$color-link: $cGoBlue7;
$color-link-hover: $cGoBlue5;


$color-header-bg: $cGoBlue7;
$color-header-menu-bg: $cGoBlue5;
$color-header: white;


$color-avatar-bg: $cGoBlue2;

$color-menu-item: $cGrey9;

$height-panel-content-header: 190px;

/**
 * 1. Colors
 */


/**
 * 2. Bird's eye view of z-index
 */

$z-aside: 90;
$z-dropdown:100;
$z-popover:110;
$z-tooltip:130;
$z-fixed-navbar:130;
$z-modal-backdrop:140;
$z-modal:150;


/**
 * 3. Fonts
 */
$font-family: "Roboto","Helvetica Neue",Arial,sans-serif;
$font-size: 15px;
$font-weight:400;
$font-color: #333;
$border-radius:2px;
$line-height: 24px;
$letter-spacing: 0.1px;
$border-color: #c2d3d7;

$height-button: 1.7em;

$width-form-field: 300px;

/**
 * 4. Widget specific
 */
$height-tab-bar: 40px;



// Buttons


$btn-font-weight: normal !default;
$btn-default-color: #333 !default;
$btn-default-bg: #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color: #fff !default;
$btn-primary-bg: darken(#428bca, 6.5%) !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color: #fff !default;
$btn-success-bg: #5cb85c !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-info-color: #fff !default;
$btn-info-bg: #5bc0de !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

$btn-warning-color: #fff !default;
$btn-warning-bg: #f0ad4e !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color: #fff !default;
$btn-danger-bg: #d9534f !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;



$color-bg-hover: $cGoBlue2;
$color-bg-selected: $cGoBlue1;
$color-bg-active: $cGoBlue1;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;



// When an element is selected
%selected {
	background-color: $color-bg-selected;
	color: $font-color !important;
	//text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}
// When mouse hovers over element
%hover {
	background-color: $color-bg-hover;
	//color: $color-link;
}

// When clicked
%active {
	//background-image: none;
	//text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
	background-color: $color-bg-active;
	color: $font-color !important;
}

