*,
*:before,
*:after {
	box-sizing: border-box;
	padding:0;
	margin:0;
}
html,
body {
	height: 100%;
	max-width: 100%;
	//background-color: white;
	//overflow: hidden;
}
body {
	padding:0;
	margin:0;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $line-height;
	color: $font-color;
	letter-spacing: $letter-spacing;
}

a {
	cursor: pointer;
	color: $link-color;
	text-decoration: none;
	&:hover {
		color: $link-hover-color;
	}
}


menu {
	list-style: none;
	margin: 0;
	padding: 0;
}

small {
	color: $cGrey6;
	font-size: 0.9em;
}

strong {
	color: $cGrey9;
	font-weight: 400;
}

//h1 is used only in the header

h2{
	font-size: 2.8em;
	font-weight: 400;
	margin-bottom: 15px;
	color: black;
	
	&:last-child{
		margin-bottom: 0px;
	}
}

h3{
	font-size: 1.6em;
	font-weight: 400;
	margin-bottom: 10px;
	color: black;
	
	&:last-child{
		margin-bottom: 0px;
	}
}