section.modal { // backdrop
	position: fixed;
	top: 0;
	left: 0;
	z-index: $z-modal-backdrop;
	width: 100%;
	height: 100%;
	pointer-events: none;
	opacity: 0;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);

	will-change: transform, opacity;
	transform: scale(1.15);
	transition:
    transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
    opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);

	&.open {
		pointer-events: auto;
		opacity: 1;
		transform: scale(1);
		transition:
			transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
			opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
		> * {
			z-index: $z-modal;
		}
	}
	.dialog {
		background: none repeat scroll 0 0 #fff;
    border-radius: $border-radius;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    left: 50%;
    padding: 25px 25px 50px;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
	}
}
