input.ng-invalid.ng-dirty, form.ng-submitted input.ng-invalid {
	border-color: $color-danger-border !important;
}

input.ng-valid.ng-dirty, form.ng-submitted input.ng-valid {
	border-color: $color-success-border !important;
}


textarea { 
	resize: none; 
}


form{
	
	&.stretch{
		label,input, .form-input, textarea, select, .group{
			width: 100%;
		}
		
		label{
			display:block;
		}
	}

	fieldset{
		border: 0;
		padding: 20px;
		background-color:white;
	}

	legend{
		font-size: 1.2em;
		border-bottom: 1px solid $border-color;
		display: block;
		margin-bottom: 0.3em;
		padding: 0.3em 0;
		margin-top: 20px;
		width: 100%;
		height: auto;

	}

	.row{
		margin-bottom: 15px;
/*		> label{
			width: 140px;
			color: $color-small;
		}*/

		> input, > .form-input, > textarea, > select{
			width: $width-form-field;
		}
	}

	.group {
		width: $width-form-field;
	}


	label{
		/*font-weight: bold;*/
		margin-right: 10px;
		display: inline-block;
		//float:left;		
		vertical-align:top;
		padding-left: 4px 0px;
		height:30px;
		width: 140px;
		color: $color-small;
		
		&:only-child{
			//for checkbox
			width: auto;
		}
	}




	label + * {
		display:inline-block;
		
	}


	input, .form-input, textarea, select{

		font: inherit;
		outline: 0;
		box-shadow:none;

		
		display: inline-block;

		line-height: $line-height;

		margin: 0px;
		padding-left: 4px 0px;
		height:30px;


		background: transparent;
		border:0;
		border-bottom: 2px solid $font-color;

		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

		&:focus{
			border-color: $color-active-border;

		}
	}

	input[type=checkbox], input[type=radio]{
		height: auto;
		width: auto;
		position: relative;
		vertical-align: middle;
		bottom: 1px;
	}

	input[disabled]{
		border-color: $border-color;
	}

}