input.ng-invalid.ng-dirty, form.ng-submitted input.ng-invalid {
	border-color: $danger-border !important;
}

input.ng-valid.ng-dirty, form.ng-submitted input.ng-valid {
	border-color: $success-border !important;
}
input {
	font-family: "Roboto";
	font-size: 12px;
}

textarea { 
	resize: none; 
}


form{
	
	fieldset{
		border: 1px solid $border-color;
		padding: 20px;
		background-color:white;
	}
	
	legend{
		font-size: 1.2em;
		
	}
	
	.row{
		margin-bottom: 10px;

		label, input{
			height:24px;
		}

		label{
			/*font-weight: bold;*/
			margin-right: 10px;
			display: inline-block;
			width: 140px;		
			
			input[type=checkbox]{
				height: auto;
				width: auto;
				position: relative;
				vertical-align: middle;
				bottom: 1px;
			}
			
			
		}

		input, .form-input{		
			
			outline: 0;
			box-shadow:none;
			
			width: 200px;
			
			display: inline-block;

			background: transparent;
			border:0;
			border-bottom: 2px solid $font-color;
			
			transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
			
			&:focus{
				border-color: $active-border;
				
			}
		}
		
		input[disabled]{
			border-color: $border-color;
		}
	}
}
