$height-header: 92px;

body > header{
	color: $color-header;
	height: $height-header;		
	background-color: $color-header-bg;	
	padding: 0 15px;

	.left{		
		height: $height-header;		
		display: table;
		
		> * {
			display: table-cell;
			vertical-align:middle;
		}

		.logo {
			font-size: 2em;
			height: 45px;
			line-height: 45px;
			padding-left: 60px;
			margin-left: 15px;
			background-image: url('../resources/groupoffice-logo.png');
			background-position: left middle;
			background-repeat: no-repeat;	
			
		}	
	}
	
	.right{	
		height: $height-header;		
		display: table;
		
		> * {			
			text-align:right;		
			display: table-cell;
			vertical-align:middle;
		}
	}
}


body > main {
	position: absolute;
	top: $height-header;
	bottom: 0;
	width: 100%;
	overflow:hidden;
}


.login{
	@extend .card;
	padding: 20px;	
	width: 400px;
	margin:40px auto;
	
	label{
		width: 100px;
	}
	input{
		width: 140px;
	}
}