@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?s6hgd3');
	src:url('fonts/icomoon.eot?#iefixs6hgd3') format('embedded-opentype'),
		url('fonts/icomoon.woff?s6hgd3') format('woff'),
		url('fonts/icomoon.ttf?s6hgd3') format('truetype'),
		url('fonts/icomoon.svg?s6hgd3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
i[class] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
i.big { font-size:23px; }

i {
	&.person:before {content: "\e601";}
	&.uniE602:before {
		content: "\e602";
	}
	&.wallet:before {
		content: "\e603";
	}
	&.user:before {
		content: "\e604";
	}
	&.group:before {
		content: "\e605";
	}
	&.avatar:before {
		content: "\e606";
	}
	&.alarm:before {
		content: "\e608";
	}
	&.add-alarm:before {
		content: "\e609";
	}
	&.remove-alarm:before {
		content: "\e60a";
	}
	&.check-alarm:before {
		content: "\e60b";
	}
	&.warning-message:before {
		content: "\e60d";
	}
	&.resize:before {
		content: "\e60e";
	}
	&.bar-chart:before {
		content: "\e60f";
	}
	&.user-paste:before {
		content: "\e611";
	}
	&.alert-paste:before {
		content: "\e612";
	}
	&.reload:before {
		content: "\e616";
	}
	&.upload:before {
		content: "\e617";
	}
	&.bookmarks:before {
		content: "\e618";
	}
	&.bookmark:before {
		content: "\e619";
	}
	&.bookmark2:before {
		content: "\e61a";
	}
	&.bug:before {
		content: "\e61b";
	}
	&.reload2:before {
		content: "\e61c";
	}
	&.card:before {
		content: "\e61e";
	}
	&.tile-layout:before {
		content: "\e61f";
	}
	&.trash:before {
		content: "\e620";
	}
	&.file:before {
		content: "\e621";
	}
	&.data:before {
		content: "\e622";
	}
	&.check:before {
		content: "\e623";
	}
	&.calendar:before {
		content: "\e625";
	}
	&.insert:before {
		content: "\e626";
	}
	&.compass:before {
		content: "\e627";
	}
	&.puzzle:before {
		content: "\e628";
	}
	&.like:before {
		content: "\e62a";
	}
	&.unlike:before {
		content: "\e62b";
	}
	&.file-search:before {
		content: "\e62c";
	}
	&.download:before {
		content: "\e630";
	}
	&.star:before {
		content: "\e631";
	}
	&.question:before {
		content: "\e633";
	}
	&.remove:before {
		content: "\e634";
	}
	&.home:before {
		content: "\e636";
	}
	&.info:before {
		content: "\e638";
	}
	&.info-open:before {
		content: "\e639";
	}
	&.delete:before {
		content: "\e63d";
	}
	&.world:before {
		content: "\e63e";
	}
	&.fullscreen:before {
		content: "\e63f";
	}
	&.list:before {
		content: "\e640";
	}
	&.unlock:before {
		content: "\e642";
	}
	&.lock:before {
		content: "\e643";
	}
	&.mailbox:before {
		content: "\e645";
	}
	&.add-file:before {
		content: "\e646";
	}
	&.move:before {
		content: "\e649";
	}
	&.addressbook:before {
		content: "\e64d";
	}
	&.contact:before {
		content: "\e650";
	}
	&.print:before {
		content: "\e656";
	}
	&.clock:before {
		content: "\e657";
	}
	&.comments:before {
		content: "\e658";
	}
	&.uniE659:before {
		content: "\e659";
	}
	&.warning:before {
		content: "\e65b";
	}
	&.location:before {
		content: "\e65d";
	}
	&.search:before {
		content: "\e65f";
	}
	&.settings:before {
		content: "\e660";
	}
	&.cart:before {
		content: "\e673";
	}
	&.starred:before {
		content: "\e677";
	}
	&.star-circle:before {
		content: "\e678";
	}
	&.store:before {
		content: "\e679";
	}
	&.swap:before {
		content: "\e67b";
	}
	&.swap2:before {
		content: "\e67c";
	}
	&.tabs:before {
		content: "\e67f";
	}
	&.movie:before {
		content: "\e681";
	}
	&.dislike:before {
		content: "\e682";
	}
	&.vote:before {
		content: "\e683";
	}
	&.uniE684:before {
		content: "\e684";
	}
	&.course-down:before {
		content: "\e689";
	}
	&.arrow-right:before {
		content: "\e68a";
	}
	&.course-up:before {
		content: "\e68b";
	}
	&.uniE68C:before {
		content: "\e68c";
	}
	&.unbookmark:before {
		content: "\e68d";
	}
	&.protected:before {
		content: "\e68e";
	}
	&.layout-3:before {
		content: "\e690";
	}
	&.layout-col:before {
		content: "\e692";
	}
	&.layout-row:before {
		content: "\e693";
	}
	&.layout-table:before {
		content: "\e694";
	}
	&.layout-list:before {
		content: "\e695";
	}
	&.layout-grid:before {
		content: "\e696";
	}
	&.layout-tiles:before {
		content: "\e698";
	}
	&.layout-cols:before {
		content: "\e699";
	}
	&.view:before {
		content: "\e69a";
	}
	&.hide:before {
		content: "\e69b";
	}
	&.suitcase:before {
		content: "\e69e";
	}
	&.attention:before {
		content: "\e6a0";
	}
	&.uniE6A5:before {
		content: "\e6a5";
	}
	&.microphone:before {
		content: "\e6ae";
	}
	&.star-attention:before {
		content: "\e6b4";
	}
	&.block:before {
		content: "\e6b5";
	}
	&.undo:before {
		content: "\e6c4";
	}
	&.company:before {
		content: "\e6d4";
	}
	&.phone:before {
		content: "\e6d5";
	}
	&.phone-hang:before {
		content: "\e6d6";
	}
	&.message:before {
		content: "\e6dc";
	}
	&.email:before {
		content: "\e6e3";
	}
	&.mobile:before {
		content: "\e6f4";
	}
	&.istyping:before {
		content: "\e6f8";
	}
	&.plus:before {
		content: "\e6fb";
	}
	&.plus-circle:before {
		content: "\e6fe";
	}
	&.copy:before {
		content: "\e703";
	}
	&.cut:before {
		content: "\e704";
	}
	&.paste:before {
		content: "\e705";
	}
	&.pencil:before {
		content: "\e706";
	}
	&.email-open:before {
		content: "\e707";
	}
	&.flag:before {
		content: "\e709";
	}
	&.right:before {
		content: "\e70a";
	}
	&.inbox:before {
		content: "\e70c";
	}
	&.min:before {
		content: "\e711";
	}
	&.min-circle:before {
		content: "\e713";
	}
	&.reply:before {
		content: "\e714";
	}
	&.reply-all:before {
		content: "\e715";
	}
	&.stop:before {
		content: "\e716";
	}
	&.save:before {
		content: "\e717";
	}
	&.uniE71C:before {
		content: "\e71c";
	}
	&.donut:before {
		content: "\e73c";
	}
	&.target:before {
		content: "\e740";
	}
	&.paperclip:before {
		content: "\e768";
	}
	&.align-center:before {
		content: "\e776";
	}
	&.align-justify:before {
		content: "\e777";
	}
	&.align-left:before {
		content: "\e778";
	}
	&.align-right:before {
		content: "\e779";
	}
	&.bold:before {
		content: "\e77a";
	}
	&.unstyle:before {
		content: "\e77b";
	}
	&.background-color:before {
		content: "\e77c";
	}
	&.font-color:before {
		content: "\e77e";
	}
	&.undent:before {
		content: "\e77f";
	}
	&.indent:before {
		content: "\e780";
	}
	&.italic:before {
		content: "\e781";
	}
	&.line-height:before {
		content: "\e782";
	}
	&.unordered-list:before {
		content: "\e783";
	}
	&.ordered-list:before {
		content: "\e784";
	}
	&.quotation:before {
		content: "\e786";
	}
	&.font-size:before {
		content: "\e787";
	}
	&.underline:before {
		content: "\e78b";
	}
	&.smilie:before {
		content: "\e790";
	}
	&.export:before {
		content: "\e797";
	}
	&.cloud:before {
		content: "\e79d";
	}
	&.cloud-down:before {
		content: "\e7a0";
	}
	&.cloud-up:before {
		content: "\e7a3";
	}
	&.import:before {
		content: "\e7a4";
	}
	&.folder:before {
		content: "\e7a7";
	}
	&.labels:before {
		content: "\e848";
	}
	&.controls:before {
		content: "\e855";
	}
	&.label:before {
		content: "\e87a";
	}
	&.map:before {
		content: "\e887";
	}
	&.tile-grid:before {
		content: "\e892";
	}
	&.back:before {
		content: "\e893";
	}
	&.arrow-down:before {
		content: "\e894";
	}
	&.arrow-up:before {
		content: "\e896";
	}
	&.forward:before {
		content: "\e897";
	}
	&.remove-circle:before {
		content: "\e898";
	}
	&.check-mark:before {
		content: "\e899";
	}
	&.cross:before {
		content: "\e89c";
	}
	&.menu-ham:before {
		content: "\e8a1";
	}
	&.menu-dot:before {
		content: "\e8a3";
	}
	&.company-big:before {
		content: "\e8cd";
	}
	&.bell:before {
		content: "\e8cf";
	}
	&.bell2:before {
		content: "\e8d0";
	}
	&.bell-disable:before {
		content: "\e8d1";
	}
	&.globe:before {
		content: "\e8dd";
	}
	&.share:before {
		content: "\e8df";
	}
	&.checkbox-on:before {
		content: "\e8e1";
	}
	&.checkbox-off:before {
		content: "\e8e2";
	}
	&.radio-off:before {
		content: "\e8e3";
	}
	&.radio-on:before {
		content: "\e8e4";
	}
}
