body > header:first-child {
	color: white;
	height: 150px;
	background-color: $header-bg-color;
	.logo {

		height: 110px;
		line-height: 60px;
		padding-left: 143px;
		background-image: url('../res/logo.png');
		background-position: left middle;
		background-repeat: no-repeat;
		h1 { color: white; font-size: 30px; }
	}
	& + menu {
		background-color: $header-menu-bg-color;
		color: white;
		height: 78px;
	}
}

body > main {
	position: absolute;
	top:150px !important;
	bottom: 0;
	width: 100%;
}

nav > a:hover { color: white;  }

nav#app-bar {
	border: 0;
	> a {
		border-color: #fac22b;
		border-bottom-width: 4px;
		color: rgba(255,255,255,0.7);
		&.active {
			color: white;
		}
		&:hover {
			color: white;
		}
	}
}
