//--------------------------------------------------------------
// 2. Data Lists
//--------------------------------------------------------------

$padding-list-index: 80px;

.pad-list-index{
	padding-left: $padding-list-index;
}

// Abstract menu item for dropdowns and lists etc
%menuitem {
	font-size: 1.2em;
	color: $color-menu-item;
	display:block;	
	&.active{
		@extend %active;
	}
	
	&.index ~ li{
		
		//padding-left: $padding-list-index;
		> a, > label {
			padding-left: $padding-list-index;
		}
	}
	
	> a {
		
		display:block;
		position:relative;
		outline: none;
		
		overflow: hidden;
		
		padding: 8px 12px;
		
		color: inherit;	
		
		&.active{
			@extend %selected;
		}
		
		&.selected { @extend %selected;	}
		
		&:active { @extend %active;}
		&:hover { @extend %hover;	}
		
		
		.avatar {
			float: left;
		}
		
		.description {
/*			position:absolute;
			top: 50%;
			left: 150px;*/
			/*transform: translateY(-50%);*/
			/*display:block;*/
		}
		
		
		
	}
	&.divider {
		/*height: 1px;*/
		height: 0px;
		margin: 5px 0px;
		overflow: hidden;
		/*background-color: $border-color;*/
		border-bottom: 1px solid $border-color;
	}

	&.index {
		&:first-child{ 
			border:0; 
			i{
				top: 25px;
			}
		}
		cursor: default;
		display:block;
		overflow:visible;
		
		height: 0px;
		
		line-height:0px;
		padding:0;
		margin:0;
		margin-top:0px;
		margin-left: 80px;
		
		
		border-top: 1px solid $border-color;
		position: relative;
		h2, i{
			text-transform: uppercase;
			color: $color-link;
			position:absolute;
			top: 35px;
			left: -50px;
			font-size: 1.3em;
			font-weight: 700;
			z-index: 1; //otherwise hover effect will hide index
		}
		
		i {
			color: $font-color;
		}
		
		h2{
			top: 35px;
		}

	}
}




%popup {
	position: absolute;
	display:block !important;
	opacity: 1;
	transform: scale(1);
	text-align: left;	
	transition: all .2s ease-out 0s;//, opacity 0.2s ease-out 0s;
	
	&.ng-hide{
		transform: scale(0);
		opacity: 0;
	}
	
	
	list-style-type: none;
	z-index: $z-dropdown;	
	
	top: 0px;
	left: 0px;
	right: auto;
		
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	min-width: 160px;
	margin: 0;
	background-color: white;
	border: 1px solid $border-color;
	
	transform-origin: left top 0;
	
	&.top-right{
		transform-origin: right top 0;
		left: auto;
		right: 0px;
	}
	
	//border-radius: $borderRadius $borderRadius;
}



ul.list{
	list-style-type: none;
	>* {
		@extend %menuitem;
	}
}

section.list{
	
	//@extends ul.list;
	
	>*{
		padding: 8px 12px;	
		@extend %menuitem;
		&.index ~ *{			
			/*> a, > label{*/
				padding-left: $padding-list-index;
			/*}*/
		}
		
		&.index{
			color: $font-color;
			margin-top:12px;
			margin-bottom: 12px;
		}
		
		&:hover { @extend %hover;	}
	}
	
	> a{
		&.selected { @extend %selected;	}		
		&:active { @extend %active;}
		
	}
}




/**
 * TOOLBAR
 */
menu[type="toolbar"] {
	display:table;
	width:100%;
	height: 60px;
	color: $color-link;
	border-bottom: 1px solid $border-color;
	border-right:  1px solid $border-color;
	padding: 0 16px;
	> li {		
		
		list-style-type:none;
		display:table-cell;
		vertical-align: middle;
		
		&:last-child { 
			text-align: right;

		}
		& > * {	
			display: inline-block; 
			min-width: 30px;
		}
	}
	& + * {
		top: 60px;
	}
}

/**
 * DROPDOWN
 */



.dropdown{
	position:relative;
	display: inline-block;
	
	> button, > a {	
			
		&:focus + menu, &:hover + menu{ 
			transform: scale(1);	
			opacity: 1;
		}
	}
	
	menu{
		@extend %popup;
		
		top:0;

		transform: scale(0);
		opacity: 0;

		&:hover{
			//otherwise links are hard to click
			transform: scale(1);
			opacity: 1;
		}

		> li {
			@extend %menuitem;
		}	

	}
}





.avatar {
	background-color: $color-avatar-bg;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow:hidden;
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
	img {
		min-width: 100%;
		height:100%;
	}
	
	&.big{
		height: 80px;
		width: 80px;		
	}
}



aside{
	@extend .col;
	width: 15%;
	
	.panel{		
		box-shadow: 1px 0px 2px 0px  $border-color;
		
		z-index: $z-aside;
		
		.list{
			i{
				margin: 0px 20px;
				font-size: 1.2em;
				color: $font-color;
			}
			
			a{
				color: $color-link;
				padding: 12px 12px;
				//font-weight: 800;
			}
		}
	}
}