//--------------------------------------------------------------
// 2. Data Lists
//--------------------------------------------------------------

$padding-list-index: 80px;

.pad-list-index{
	padding-left: $padding-list-index;
}

// Abstract menu item for dropdowns and lists etc
%menuitem {
	font-size: 1.2em;
	color: $color-menu-item;
	display:block;	
	&.active{
		@extend %active;
	}
	
	transition: opacity 1s ease-out;
	
	> a {
		
		display:block;
		position:relative;
		outline: none;
		
		overflow: hidden;
		
		padding: 8px 12px;
		
		color: inherit;	
		
		&.active{
			@extend %selected;
		}
		
		&.selected { @extend %selected;	}
		
		&:active { @extend %active;}
		&:hover { @extend %hover;	}	
		
		
	}
	&.divider {
		/*height: 1px;*/
		height: 0px;
		margin: 5px 0px;
		overflow: hidden;
		/*background-color: $border-color;*/
		border-bottom: 1px solid $border-color;
	}
}




%popup {
	position: absolute;
	display:block !important;
	opacity: 1;
	transform: scale(1);
	text-align: left;	
	transition: all .2s ease-out 0s;//, opacity 0.2s ease-out 0s;
	
	&.ng-hide{
		transform: scale(0);
		opacity: 0;
	}
	
	
	list-style-type: none;
	z-index: $z-dropdown;	
	
	top: 0px;
	left: 0px;
	right: auto;
		
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	min-width: 160px;
	margin: 0;
	background-color: white;
	border: 1px solid $border-color;
	
	transform-origin: left top 0;
	
	&.top-right{
		transform-origin: right top 0;
		left: auto;
		right: 0px;
	}
	
	//border-radius: $borderRadius $borderRadius;
}





/**
 * TOOLBAR
 */
menu[type="toolbar"] {
	display:table;
	width:100%;
	height: 60px;
	color: $color-link;
	border-bottom: 1px solid $border-color;
	border-right:  1px solid $border-color;
	padding: 0 16px;
	> li {		
		
		h2 {
			color: $color-link;
			
			font-size: $height-button;
			
		}
		
		list-style-type:none;
		display:table-cell;
		vertical-align: middle;
		
		&:last-child { 
			text-align: right;
		}
		
		&:only-child { 
			text-align: left;
		}
		& > * {	
			display: inline-block; 
			min-width: 30px;
		}
	}
	& + * {
		top: 60px;
	}
}


.avatar {
	background-color: $color-avatar-bg;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	overflow:hidden;
	display: inline-block;
	vertical-align: middle;
	//margin-right: 20px;
	img {
		min-width: 100%;
		height:100%;
	}
	
	&.big{
		height: 80px;
		width: 80px;		
	}
}



aside{
	@extend .col;
	width: 15%;
	
	.panel{		
		box-shadow: 1px 0px 2px 0px  $border-color;
		
		z-index: $z-aside;
		
		.list{
			i{
				margin: 0px 20px;
				font-size: 1.2em;
				color: $font-color;
			}
			
			a{
				color: $color-link;
				padding: 12px 12px;
				//font-weight: 800;
			}
		}
	}
}


/**
 * MODAL DIALOGS
 * Usage: <section class="dialog open"></section>
 */
section.dialog {
    position: fixed;
    z-index: $z-modal;
    left: 50%;
    top: 50%;
    padding: 25px 25px 50px;
    width: 65%;
    border-radius: 2px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.6);
    background-color: #FFF;
    pointer-events: none;
    opacity: 0;
    outline: rgba(0,0,0,.5) solid 10000px;
    will-change: transform, opacity;
    transform: translate(-50%, -50%) scale(1.15);
    transition:
      transform 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946),
      opacity 0.1s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    &.open {
        pointer-events: auto;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        transition:
          transform 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946),
          opacity 0.3s cubic-bezier(0.465, 0.183, 0.153, 0.946);
    }
}