/**
 * 1. Colors
 */
/**
 * 2. Bird's eye view of z-index
 */
/**
 * 3. Fonts
 */
/**
 * 4. Widget specific
 */
/* line 124, /var/www/groupoffice-webclient/app/scss/config */
ul.list > * > a.selected, .dropdown menu > li > a.selected, ul.go-autocomplete-list li > a.selected, section.list > a.selected {
  color: #0e9cc5; }

/* line 130, /var/www/groupoffice-webclient/app/scss/config */
button:hover, .btn:hover, ul.list > * > a:hover, section.list > * > a:hover, .dropdown menu > li > a:hover, ul.go-autocomplete-list li > a:hover, section.list > *:hover {
  background-color: #E7F6FA;
  color: #0e9cc5; }

/* line 136, /var/www/groupoffice-webclient/app/scss/config */
button:active, .btn:active, ul.list > .active, section.list > .active, .dropdown menu > li.active, ul.go-autocomplete-list li.active, ul.list > * > a:active, .dropdown menu > li > a:active, ul.go-autocomplete-list li > a:active, section.list > a:active {
  background-color: #C3E6F0; }

/* line 1, /var/www/groupoffice-webclient/app/scss/form */
input.ng-invalid.ng-dirty, form.ng-submitted input.ng-invalid {
  border-color: #ebccd1 !important; }

/* line 5, /var/www/groupoffice-webclient/app/scss/form */
input.ng-valid.ng-dirty, form.ng-submitted input.ng-valid {
  border-color: #d6e9c6 !important; }

/* line 10, /var/www/groupoffice-webclient/app/scss/form */
textarea {
  resize: none; }

/* line 17, /var/www/groupoffice-webclient/app/scss/form */
form fieldset {
  border: 0;
  padding: 20px;
  background-color: white; }
/* line 23, /var/www/groupoffice-webclient/app/scss/form */
form legend {
  font-size: 1.2em;
  border-bottom: 1px solid #c2d3d7;
  display: block;
  margin-bottom: 0.3em;
  padding: 0.3em 0;
  margin-top: 20px;
  width: 100%;
  height: auto; }
/* line 35, /var/www/groupoffice-webclient/app/scss/form */
form .row {
  margin-bottom: 15px; }
  /* line 37, /var/www/groupoffice-webclient/app/scss/form */
  form .row > label {
    width: 140px;
    color: #757575; }
/* line 43, /var/www/groupoffice-webclient/app/scss/form */
form .group {
  width: 300px; }
/* line 48, /var/www/groupoffice-webclient/app/scss/form */
form label {
  /*font-weight: bold;*/
  margin-right: 10px;
  display: inline-block;
  vertical-align: top;
  padding-left: 4px 0px;
  height: 30px; }
/* line 60, /var/www/groupoffice-webclient/app/scss/form */
form label + * {
  display: inline-block; }
/* line 65, /var/www/groupoffice-webclient/app/scss/form */
form input, form .form-input, form .row .go-multiselect, form textarea, form select {
  font: inherit;
  outline: 0;
  box-shadow: none;
  width: 300px;
  display: inline-block;
  line-height: 24px;
  margin: 0px;
  padding-left: 4px 0px;
  height: 30px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #333;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  /* line 89, /var/www/groupoffice-webclient/app/scss/form */
  form input:focus, form .form-input:focus, form .row .go-multiselect:focus, form textarea:focus, form select:focus {
    border-color: #338fb5; }
/* line 95, /var/www/groupoffice-webclient/app/scss/form */
form input[type=checkbox], form input[type=radio] {
  height: auto;
  width: auto;
  position: relative;
  vertical-align: middle;
  bottom: 1px; }
/* line 103, /var/www/groupoffice-webclient/app/scss/form */
form input[disabled] {
  border-color: #c2d3d7; }

/*@mixin tab-focus() {
	// Default
	outline: thin dotted;
	// WebKit
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}*/
/*@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
	padding: $padding-vertical $padding-horizontal;
	font-size: $font-size;
	line-height: $line-height;
	border-radius: $border-radius;
}*/
/*form{
	.btn, button {
		display: inline-block;
		margin-bottom: 0; // For input.btn
		font-weight: $btn-font-weight;
		text-align: center;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
		border: 1px solid transparent;
		white-space: nowrap;

		user-select: none;


		padding: 6px 12px;

		margin-right: 6px;
		&:last-child{
			margin-right: 0px;
		}

		border-radius: 2px;



		&,
		&:active,
			&.active {
			&:focus,
				&.focus {
				@include tab-focus;
			}
		}
		&:hover,
			&:focus,
			&.focus {
			color: $btn-default-color;
			text-decoration: none;
		}
		&:active,
			&.active {
			outline: 0;
			background-image: none;
			box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
		}
		&.disabled,
		&[disabled],
		fieldset[disabled] & {
			cursor: disabled;
			pointer-events: none; // Future-proof disabling of clicks
			opacity: .65;
			box-shadow: none;
		}


		@include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);


		&.primary, &[type=submit] {
			@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
		}
		// Success appears as green
		&.success {
			@include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
		}
		// Info appears as blue-green
		&.info {
			@include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
		}
		// Warning appears as orange
		&.warning {
			@include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
		}
		// Danger and error appear as red
		&.danger {
			@include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
		}
	}
}*/
/*nav, menu{*/
/* line 119, /var/www/groupoffice-webclient/app/scss/buttons */
button, .btn {
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: inherit;
  font-size: 1.7em;
  border: none;
  box-shadow: none;
  background: transparent;
  transition: all 0.2s ease-out;
  border-radius: 2px;
  padding: 4px;
  margin: 10px 0px 0px 0px; }
  /* line 138, /var/www/groupoffice-webclient/app/scss/buttons */
  .group button, menu button, .group .btn, menu .btn {
    margin: 0px; }
  /* line 146, /var/www/groupoffice-webclient/app/scss/buttons */
  button:active, .btn:active {
    outline: 0;
    background-image: none; }
  /* line 154, /var/www/groupoffice-webclient/app/scss/buttons */
  button.small, .row button, .btn.small, .row .btn {
    font-size: 1em;
    padding: 1px;
    color: #757575; }
  /* line 160, /var/www/groupoffice-webclient/app/scss/buttons */
  button.primary, .btn.primary {
    color: white;
    background-color: #0e9cc5;
    border-color: #0ca4ad;
    box-shadow: 2px 0px 2px 0px #c2d3d7; }
    /* line 15, /var/www/groupoffice-webclient/app/scss/buttons */
    button.primary:hover, button.primary:focus, button.primary.focus, button.primary:active, button.primary.active, .btn.primary:hover, .btn.primary:focus, .btn.primary.focus, .btn.primary:active, .btn.primary.active {
      background-color: #0b7695;
      border-color: #086e74; }
  /* line 165, /var/www/groupoffice-webclient/app/scss/buttons */
  button.success, .btn.success {
    background-color: #dff0d8;
    color: #31708f;
    border: #bce8f1; }
  /* line 171, /var/www/groupoffice-webclient/app/scss/buttons */
  button.info, .btn.info {
    background-color: #d9edf7;
    color: #31708f;
    border: #bce8f1; }
  /* line 177, /var/www/groupoffice-webclient/app/scss/buttons */
  button.warning, .btn.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border: #faebcc; }
  /* line 183, /var/www/groupoffice-webclient/app/scss/buttons */
  button.danger, .btn.danger {
    background-color: #f2dede;
    color: #a94442;
    border: #ebccd1; }

/*}*/
/* line 191, /var/www/groupoffice-webclient/app/scss/buttons */
button.action, .btn.action {
  text-align: center;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #83c50e;
  display: block;
  cursor: pointer;
  font-family: inherit;
  font-size: 1.7em;
  font-size-adjust: inherit;
  font-stretch: inherit;
  font-style: inherit;
  font-synthesis: inherit;
  font-variant: inherit;
  font-weight: inherit;
  color: white;
  font-size: 1.7em;
  border: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.26);
  bottom: 20px;
  right: 30px;
  transition: all 0.2 ease-out; }
  /* line 222, /var/www/groupoffice-webclient/app/scss/buttons */
  button.action:hover, .btn.action:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.26);
    transform: translateY(-1px);
    background: #73ad0c; }
  /* line 229, /var/www/groupoffice-webclient/app/scss/buttons */
  button.action:active, .btn.action:active {
    background: #446607;
    box-shadow: none;
    outline: 0;
    background-image: none; }
  /* line 238, /var/www/groupoffice-webclient/app/scss/buttons */
  button.action input[type=file], .btn.action input[type=file] {
    width: 0px; }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff'); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(fonts/Roboto-Bold.woff) format('woff'); }

@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?s6hgd3');
  src: url('fonts/icomoon.eot?#iefixs6hgd3') format('embedded-opentype'), url('fonts/icomoon.woff?s6hgd3') format('woff'), url('fonts/icomoon.ttf?s6hgd3') format('truetype'), url('fonts/icomoon.svg?s6hgd3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 11, /var/www/groupoffice-webclient/app/scss/icons */
i[class] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 31, /var/www/groupoffice-webclient/app/scss/icons */
i.person:before {
  content: "\e601"; }
/* line 32, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE602:before {
  content: "\e602"; }
/* line 35, /var/www/groupoffice-webclient/app/scss/icons */
i.wallet:before {
  content: "\e603"; }
/* line 38, /var/www/groupoffice-webclient/app/scss/icons */
i.user:before {
  content: "\e604"; }
/* line 41, /var/www/groupoffice-webclient/app/scss/icons */
i.group:before {
  content: "\e605"; }
/* line 44, /var/www/groupoffice-webclient/app/scss/icons */
i.avatar:before {
  content: "\e606"; }
/* line 47, /var/www/groupoffice-webclient/app/scss/icons */
i.alarm:before {
  content: "\e608"; }
/* line 50, /var/www/groupoffice-webclient/app/scss/icons */
i.add-alarm:before {
  content: "\e609"; }
/* line 53, /var/www/groupoffice-webclient/app/scss/icons */
i.remove-alarm:before {
  content: "\e60a"; }
/* line 56, /var/www/groupoffice-webclient/app/scss/icons */
i.check-alarm:before {
  content: "\e60b"; }
/* line 59, /var/www/groupoffice-webclient/app/scss/icons */
i.warning-message:before {
  content: "\e60d"; }
/* line 62, /var/www/groupoffice-webclient/app/scss/icons */
i.resize:before {
  content: "\e60e"; }
/* line 65, /var/www/groupoffice-webclient/app/scss/icons */
i.bar-chart:before {
  content: "\e60f"; }
/* line 68, /var/www/groupoffice-webclient/app/scss/icons */
i.user-paste:before {
  content: "\e611"; }
/* line 71, /var/www/groupoffice-webclient/app/scss/icons */
i.alert-paste:before {
  content: "\e612"; }
/* line 74, /var/www/groupoffice-webclient/app/scss/icons */
i.reload:before {
  content: "\e616"; }
/* line 77, /var/www/groupoffice-webclient/app/scss/icons */
i.upload:before {
  content: "\e617"; }
/* line 80, /var/www/groupoffice-webclient/app/scss/icons */
i.bookmarks:before {
  content: "\e618"; }
/* line 83, /var/www/groupoffice-webclient/app/scss/icons */
i.bookmark:before {
  content: "\e619"; }
/* line 86, /var/www/groupoffice-webclient/app/scss/icons */
i.bookmark2:before {
  content: "\e61a"; }
/* line 89, /var/www/groupoffice-webclient/app/scss/icons */
i.bug:before {
  content: "\e61b"; }
/* line 92, /var/www/groupoffice-webclient/app/scss/icons */
i.reload2:before {
  content: "\e61c"; }
/* line 95, /var/www/groupoffice-webclient/app/scss/icons */
i.card:before {
  content: "\e61e"; }
/* line 98, /var/www/groupoffice-webclient/app/scss/icons */
i.tile-layout:before {
  content: "\e61f"; }
/* line 101, /var/www/groupoffice-webclient/app/scss/icons */
i.trash:before {
  content: "\e620"; }
/* line 104, /var/www/groupoffice-webclient/app/scss/icons */
i.file:before {
  content: "\e621"; }
/* line 107, /var/www/groupoffice-webclient/app/scss/icons */
i.data:before {
  content: "\e622"; }
/* line 110, /var/www/groupoffice-webclient/app/scss/icons */
i.check:before {
  content: "\e623"; }
/* line 113, /var/www/groupoffice-webclient/app/scss/icons */
i.calendar:before {
  content: "\e625"; }
/* line 116, /var/www/groupoffice-webclient/app/scss/icons */
i.insert:before {
  content: "\e626"; }
/* line 119, /var/www/groupoffice-webclient/app/scss/icons */
i.compass:before {
  content: "\e627"; }
/* line 122, /var/www/groupoffice-webclient/app/scss/icons */
i.puzzle:before {
  content: "\e628"; }
/* line 125, /var/www/groupoffice-webclient/app/scss/icons */
i.like:before {
  content: "\e62a"; }
/* line 128, /var/www/groupoffice-webclient/app/scss/icons */
i.unlike:before {
  content: "\e62b"; }
/* line 131, /var/www/groupoffice-webclient/app/scss/icons */
i.file-search:before {
  content: "\e62c"; }
/* line 134, /var/www/groupoffice-webclient/app/scss/icons */
i.download:before {
  content: "\e630"; }
/* line 137, /var/www/groupoffice-webclient/app/scss/icons */
i.star:before {
  content: "\e631"; }
/* line 140, /var/www/groupoffice-webclient/app/scss/icons */
i.question:before {
  content: "\e633"; }
/* line 143, /var/www/groupoffice-webclient/app/scss/icons */
i.remove:before {
  content: "\e634"; }
/* line 146, /var/www/groupoffice-webclient/app/scss/icons */
i.home:before {
  content: "\e636"; }
/* line 149, /var/www/groupoffice-webclient/app/scss/icons */
i.info:before {
  content: "\e638"; }
/* line 152, /var/www/groupoffice-webclient/app/scss/icons */
i.info-open:before {
  content: "\e639"; }
/* line 155, /var/www/groupoffice-webclient/app/scss/icons */
i.delete:before {
  content: "\e63d"; }
/* line 158, /var/www/groupoffice-webclient/app/scss/icons */
i.world:before {
  content: "\e63e"; }
/* line 161, /var/www/groupoffice-webclient/app/scss/icons */
i.fullscreen:before {
  content: "\e63f"; }
/* line 164, /var/www/groupoffice-webclient/app/scss/icons */
i.list:before {
  content: "\e640"; }
/* line 167, /var/www/groupoffice-webclient/app/scss/icons */
i.unlock:before {
  content: "\e642"; }
/* line 170, /var/www/groupoffice-webclient/app/scss/icons */
i.lock:before {
  content: "\e643"; }
/* line 173, /var/www/groupoffice-webclient/app/scss/icons */
i.mailbox:before {
  content: "\e645"; }
/* line 176, /var/www/groupoffice-webclient/app/scss/icons */
i.add-file:before {
  content: "\e646"; }
/* line 179, /var/www/groupoffice-webclient/app/scss/icons */
i.move:before {
  content: "\e649"; }
/* line 182, /var/www/groupoffice-webclient/app/scss/icons */
i.addressbook:before {
  content: "\e64d"; }
/* line 185, /var/www/groupoffice-webclient/app/scss/icons */
i.contact:before {
  content: "\e650"; }
/* line 188, /var/www/groupoffice-webclient/app/scss/icons */
i.print:before {
  content: "\e656"; }
/* line 191, /var/www/groupoffice-webclient/app/scss/icons */
i.clock:before {
  content: "\e657"; }
/* line 194, /var/www/groupoffice-webclient/app/scss/icons */
i.comments:before {
  content: "\e658"; }
/* line 197, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE659:before {
  content: "\e659"; }
/* line 200, /var/www/groupoffice-webclient/app/scss/icons */
i.warning:before {
  content: "\e65b"; }
/* line 203, /var/www/groupoffice-webclient/app/scss/icons */
i.location:before {
  content: "\e65d"; }
/* line 206, /var/www/groupoffice-webclient/app/scss/icons */
i.search:before {
  content: "\e65f"; }
/* line 209, /var/www/groupoffice-webclient/app/scss/icons */
i.settings:before {
  content: "\e660"; }
/* line 212, /var/www/groupoffice-webclient/app/scss/icons */
i.cart:before {
  content: "\e673"; }
/* line 215, /var/www/groupoffice-webclient/app/scss/icons */
i.starred:before {
  content: "\e677"; }
/* line 218, /var/www/groupoffice-webclient/app/scss/icons */
i.star-circle:before {
  content: "\e678"; }
/* line 221, /var/www/groupoffice-webclient/app/scss/icons */
i.store:before {
  content: "\e679"; }
/* line 224, /var/www/groupoffice-webclient/app/scss/icons */
i.swap:before {
  content: "\e67b"; }
/* line 227, /var/www/groupoffice-webclient/app/scss/icons */
i.swap2:before {
  content: "\e67c"; }
/* line 230, /var/www/groupoffice-webclient/app/scss/icons */
i.tabs:before {
  content: "\e67f"; }
/* line 233, /var/www/groupoffice-webclient/app/scss/icons */
i.movie:before {
  content: "\e681"; }
/* line 236, /var/www/groupoffice-webclient/app/scss/icons */
i.dislike:before {
  content: "\e682"; }
/* line 239, /var/www/groupoffice-webclient/app/scss/icons */
i.vote:before {
  content: "\e683"; }
/* line 242, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE684:before {
  content: "\e684"; }
/* line 245, /var/www/groupoffice-webclient/app/scss/icons */
i.course-down:before {
  content: "\e689"; }
/* line 248, /var/www/groupoffice-webclient/app/scss/icons */
i.arrow-right:before {
  content: "\e68a"; }
/* line 251, /var/www/groupoffice-webclient/app/scss/icons */
i.course-up:before {
  content: "\e68b"; }
/* line 254, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE68C:before {
  content: "\e68c"; }
/* line 257, /var/www/groupoffice-webclient/app/scss/icons */
i.unbookmark:before {
  content: "\e68d"; }
/* line 260, /var/www/groupoffice-webclient/app/scss/icons */
i.protected:before {
  content: "\e68e"; }
/* line 263, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-3:before {
  content: "\e690"; }
/* line 266, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-col:before {
  content: "\e692"; }
/* line 269, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-row:before {
  content: "\e693"; }
/* line 272, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-table:before {
  content: "\e694"; }
/* line 275, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-list:before {
  content: "\e695"; }
/* line 278, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-grid:before {
  content: "\e696"; }
/* line 281, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-tiles:before {
  content: "\e698"; }
/* line 284, /var/www/groupoffice-webclient/app/scss/icons */
i.layout-cols:before {
  content: "\e699"; }
/* line 287, /var/www/groupoffice-webclient/app/scss/icons */
i.view:before {
  content: "\e69a"; }
/* line 290, /var/www/groupoffice-webclient/app/scss/icons */
i.hide:before {
  content: "\e69b"; }
/* line 293, /var/www/groupoffice-webclient/app/scss/icons */
i.suitcase:before {
  content: "\e69e"; }
/* line 296, /var/www/groupoffice-webclient/app/scss/icons */
i.attention:before {
  content: "\e6a0"; }
/* line 299, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE6A5:before {
  content: "\e6a5"; }
/* line 302, /var/www/groupoffice-webclient/app/scss/icons */
i.microphone:before {
  content: "\e6ae"; }
/* line 305, /var/www/groupoffice-webclient/app/scss/icons */
i.star-attention:before {
  content: "\e6b4"; }
/* line 308, /var/www/groupoffice-webclient/app/scss/icons */
i.block:before {
  content: "\e6b5"; }
/* line 311, /var/www/groupoffice-webclient/app/scss/icons */
i.undo:before {
  content: "\e6c4"; }
/* line 314, /var/www/groupoffice-webclient/app/scss/icons */
i.company:before {
  content: "\e6d4"; }
/* line 317, /var/www/groupoffice-webclient/app/scss/icons */
i.phone:before {
  content: "\e6d5"; }
/* line 320, /var/www/groupoffice-webclient/app/scss/icons */
i.phone-hang:before {
  content: "\e6d6"; }
/* line 323, /var/www/groupoffice-webclient/app/scss/icons */
i.message:before {
  content: "\e6dc"; }
/* line 326, /var/www/groupoffice-webclient/app/scss/icons */
i.email:before {
  content: "\e6e3"; }
/* line 329, /var/www/groupoffice-webclient/app/scss/icons */
i.mobile:before {
  content: "\e6f4"; }
/* line 332, /var/www/groupoffice-webclient/app/scss/icons */
i.istyping:before {
  content: "\e6f8"; }
/* line 335, /var/www/groupoffice-webclient/app/scss/icons */
i.plus:before {
  content: "\e6fb"; }
/* line 338, /var/www/groupoffice-webclient/app/scss/icons */
i.plus-circle:before {
  content: "\e6fe"; }
/* line 341, /var/www/groupoffice-webclient/app/scss/icons */
i.copy:before {
  content: "\e703"; }
/* line 344, /var/www/groupoffice-webclient/app/scss/icons */
i.cut:before {
  content: "\e704"; }
/* line 347, /var/www/groupoffice-webclient/app/scss/icons */
i.paste:before {
  content: "\e705"; }
/* line 350, /var/www/groupoffice-webclient/app/scss/icons */
i.pencil:before {
  content: "\e706"; }
/* line 353, /var/www/groupoffice-webclient/app/scss/icons */
i.email-open:before {
  content: "\e707"; }
/* line 356, /var/www/groupoffice-webclient/app/scss/icons */
i.flag:before {
  content: "\e709"; }
/* line 359, /var/www/groupoffice-webclient/app/scss/icons */
i.right:before {
  content: "\e70a"; }
/* line 362, /var/www/groupoffice-webclient/app/scss/icons */
i.inbox:before {
  content: "\e70c"; }
/* line 365, /var/www/groupoffice-webclient/app/scss/icons */
i.min:before {
  content: "\e711"; }
/* line 368, /var/www/groupoffice-webclient/app/scss/icons */
i.min-circle:before {
  content: "\e713"; }
/* line 371, /var/www/groupoffice-webclient/app/scss/icons */
i.reply:before {
  content: "\e714"; }
/* line 374, /var/www/groupoffice-webclient/app/scss/icons */
i.reply-all:before {
  content: "\e715"; }
/* line 377, /var/www/groupoffice-webclient/app/scss/icons */
i.stop:before {
  content: "\e716"; }
/* line 380, /var/www/groupoffice-webclient/app/scss/icons */
i.save:before {
  content: "\e717"; }
/* line 383, /var/www/groupoffice-webclient/app/scss/icons */
i.uniE71C:before {
  content: "\e71c"; }
/* line 386, /var/www/groupoffice-webclient/app/scss/icons */
i.donut:before {
  content: "\e73c"; }
/* line 389, /var/www/groupoffice-webclient/app/scss/icons */
i.target:before {
  content: "\e740"; }
/* line 392, /var/www/groupoffice-webclient/app/scss/icons */
i.paperclip:before {
  content: "\e768"; }
/* line 395, /var/www/groupoffice-webclient/app/scss/icons */
i.align-center:before {
  content: "\e776"; }
/* line 398, /var/www/groupoffice-webclient/app/scss/icons */
i.align-justify:before {
  content: "\e777"; }
/* line 401, /var/www/groupoffice-webclient/app/scss/icons */
i.align-left:before {
  content: "\e778"; }
/* line 404, /var/www/groupoffice-webclient/app/scss/icons */
i.align-right:before {
  content: "\e779"; }
/* line 407, /var/www/groupoffice-webclient/app/scss/icons */
i.bold:before {
  content: "\e77a"; }
/* line 410, /var/www/groupoffice-webclient/app/scss/icons */
i.unstyle:before {
  content: "\e77b"; }
/* line 413, /var/www/groupoffice-webclient/app/scss/icons */
i.background-color:before {
  content: "\e77c"; }
/* line 416, /var/www/groupoffice-webclient/app/scss/icons */
i.font-color:before {
  content: "\e77e"; }
/* line 419, /var/www/groupoffice-webclient/app/scss/icons */
i.undent:before {
  content: "\e77f"; }
/* line 422, /var/www/groupoffice-webclient/app/scss/icons */
i.indent:before {
  content: "\e780"; }
/* line 425, /var/www/groupoffice-webclient/app/scss/icons */
i.italic:before {
  content: "\e781"; }
/* line 428, /var/www/groupoffice-webclient/app/scss/icons */
i.line-height:before {
  content: "\e782"; }
/* line 431, /var/www/groupoffice-webclient/app/scss/icons */
i.unordered-list:before {
  content: "\e783"; }
/* line 434, /var/www/groupoffice-webclient/app/scss/icons */
i.ordered-list:before {
  content: "\e784"; }
/* line 437, /var/www/groupoffice-webclient/app/scss/icons */
i.quotation:before {
  content: "\e786"; }
/* line 440, /var/www/groupoffice-webclient/app/scss/icons */
i.font-size:before {
  content: "\e787"; }
/* line 443, /var/www/groupoffice-webclient/app/scss/icons */
i.underline:before {
  content: "\e78b"; }
/* line 446, /var/www/groupoffice-webclient/app/scss/icons */
i.smilie:before {
  content: "\e790"; }
/* line 449, /var/www/groupoffice-webclient/app/scss/icons */
i.export:before {
  content: "\e797"; }
/* line 452, /var/www/groupoffice-webclient/app/scss/icons */
i.cloud:before {
  content: "\e79d"; }
/* line 455, /var/www/groupoffice-webclient/app/scss/icons */
i.cloud-down:before {
  content: "\e7a0"; }
/* line 458, /var/www/groupoffice-webclient/app/scss/icons */
i.cloud-up:before {
  content: "\e7a3"; }
/* line 461, /var/www/groupoffice-webclient/app/scss/icons */
i.import:before {
  content: "\e7a4"; }
/* line 464, /var/www/groupoffice-webclient/app/scss/icons */
i.folder:before {
  content: "\e7a7"; }
/* line 467, /var/www/groupoffice-webclient/app/scss/icons */
i.labels:before {
  content: "\e848"; }
/* line 470, /var/www/groupoffice-webclient/app/scss/icons */
i.controls:before {
  content: "\e855"; }
/* line 473, /var/www/groupoffice-webclient/app/scss/icons */
i.label:before {
  content: "\e87a"; }
/* line 476, /var/www/groupoffice-webclient/app/scss/icons */
i.map:before {
  content: "\e887"; }
/* line 479, /var/www/groupoffice-webclient/app/scss/icons */
i.tile-grid:before {
  content: "\e892"; }
/* line 482, /var/www/groupoffice-webclient/app/scss/icons */
i.back:before {
  content: "\e893"; }
/* line 485, /var/www/groupoffice-webclient/app/scss/icons */
i.arrow-down:before {
  content: "\e894"; }
/* line 488, /var/www/groupoffice-webclient/app/scss/icons */
i.arrow-up:before {
  content: "\e896"; }
/* line 491, /var/www/groupoffice-webclient/app/scss/icons */
i.arrow-left:before {
  content: "\e896"; }
/* line 494, /var/www/groupoffice-webclient/app/scss/icons */
i.forward:before {
  content: "\e897"; }
/* line 497, /var/www/groupoffice-webclient/app/scss/icons */
i.remove-circle:before {
  content: "\e898"; }
/* line 500, /var/www/groupoffice-webclient/app/scss/icons */
i.check-mark:before {
  content: "\e899"; }
/* line 503, /var/www/groupoffice-webclient/app/scss/icons */
i.cross:before {
  content: "\e89c"; }
/* line 506, /var/www/groupoffice-webclient/app/scss/icons */
i.menu-ham:before {
  content: "\e8a1"; }
/* line 509, /var/www/groupoffice-webclient/app/scss/icons */
i.menu-dot:before {
  content: "\e8a3"; }
/* line 512, /var/www/groupoffice-webclient/app/scss/icons */
i.company-big:before {
  content: "\e8cd"; }
/* line 515, /var/www/groupoffice-webclient/app/scss/icons */
i.bell:before {
  content: "\e8cf"; }
/* line 518, /var/www/groupoffice-webclient/app/scss/icons */
i.bell2:before {
  content: "\e8d0"; }
/* line 521, /var/www/groupoffice-webclient/app/scss/icons */
i.bell-disable:before {
  content: "\e8d1"; }
/* line 524, /var/www/groupoffice-webclient/app/scss/icons */
i.globe:before {
  content: "\e8dd"; }
/* line 527, /var/www/groupoffice-webclient/app/scss/icons */
i.share:before {
  content: "\e8df"; }
/* line 530, /var/www/groupoffice-webclient/app/scss/icons */
i.checkbox-on:before {
  content: "\e8e1"; }
/* line 533, /var/www/groupoffice-webclient/app/scss/icons */
i.checkbox-off:before {
  content: "\e8e2"; }
/* line 536, /var/www/groupoffice-webclient/app/scss/icons */
i.radio-off:before {
  content: "\e8e3"; }
/* line 539, /var/www/groupoffice-webclient/app/scss/icons */
i.radio-on:before {
  content: "\e8e4"; }

/* line 1, /var/www/groupoffice-webclient/app/scss/list */
ul.comma-list {
  display: inline;
  margin: 0;
  padding: 0; }
  /* line 5, /var/www/groupoffice-webclient/app/scss/list */
  ul.comma-list li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 11, /var/www/groupoffice-webclient/app/scss/list */
    ul.comma-list li .fa {
      display: inline;
      padding-right: 2px; }
  /* line 17, /var/www/groupoffice-webclient/app/scss/list */
  ul.comma-list li:after {
    content: ", "; }
  /* line 21, /var/www/groupoffice-webclient/app/scss/list */
  ul.comma-list li:last-child:after {
    content: ""; }

/* line 3, /var/www/groupoffice-webclient/app/scss/defaults */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 9, /var/www/groupoffice-webclient/app/scss/defaults */
html, body {
  height: 100%;
  max-width: 100%;
  background-color: white; }

/* line 15, /var/www/groupoffice-webclient/app/scss/defaults */
body {
  padding: 0;
  margin: 0;
  font-size: 13px;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
  line-height: 24px;
  color: #333;
  letter-spacing: 0.1px; }

/* line 25, /var/www/groupoffice-webclient/app/scss/defaults */
a {
  cursor: pointer;
  color: #0e9cc5;
  text-decoration: none; }
  /* line 29, /var/www/groupoffice-webclient/app/scss/defaults */
  a:hover {
    color: #41c3e8; }

/* line 35, /var/www/groupoffice-webclient/app/scss/defaults */
menu {
  list-style: none;
  margin: 0;
  padding: 0; }

/* line 41, /var/www/groupoffice-webclient/app/scss/defaults */
small {
  color: #757575;
  font-size: 0.9em; }

/* line 46, /var/www/groupoffice-webclient/app/scss/defaults */
strong {
  color: #212121;
  font-weight: 400; }

/* line 53, /var/www/groupoffice-webclient/app/scss/defaults */
h2 {
  font-size: 2.8em;
  font-weight: 400;
  margin-bottom: 15px;
  color: black; }
  /* line 59, /var/www/groupoffice-webclient/app/scss/defaults */
  h2:last-child {
    margin-bottom: 0px; }

/* line 64, /var/www/groupoffice-webclient/app/scss/defaults */
h3 {
  font-size: 1.6em;
  font-weight: 400;
  margin-bottom: 10px;
  color: black; }
  /* line 70, /var/www/groupoffice-webclient/app/scss/defaults */
  h3:last-child {
    margin-bottom: 0px; }

/* line 7, /var/www/groupoffice-webclient/app/scss/widgets */
.pad-list-index {
  padding-left: 80px; }

/* line 12, /var/www/groupoffice-webclient/app/scss/widgets */
ul.list > *, section.list > *, .dropdown menu > li, ul.go-autocomplete-list li {
  font-size: 1.2em;
  color: #212121;
  display: block; }
  /* line 23, /var/www/groupoffice-webclient/app/scss/widgets */
  ul.list > .index ~ li > a, section.list > .index ~ li > a, .dropdown menu > li.index ~ li > a, ul.go-autocomplete-list li.index ~ li > a, ul.list > .index ~ li > label, section.list > .index ~ li > label, .dropdown menu > li.index ~ li > label, ul.go-autocomplete-list li.index ~ li > label {
    padding-left: 80px; }
  /* line 28, /var/www/groupoffice-webclient/app/scss/widgets */
  ul.list > * > a, section.list > * > a, .dropdown menu > li > a, ul.go-autocomplete-list li > a {
    display: block;
    position: relative;
    overflow: hidden;
    padding: 8px 12px;
    color: inherit; }
    /* line 45, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > * > a .avatar, section.list > * > a .avatar, .dropdown menu > li > a .avatar, ul.go-autocomplete-list li > a .avatar {
      float: left; }
    /* line 49, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > * > a .description, section.list > * > a .description, .dropdown menu > li > a .description, ul.go-autocomplete-list li > a .description {
      position: absolute;
      top: 50%;
      left: 150px;
      transform: translateY(-50%);
      display: block; }
  /* line 60, /var/www/groupoffice-webclient/app/scss/widgets */
  ul.list > .divider, section.list > .divider, .dropdown menu > li.divider, ul.go-autocomplete-list li.divider {
    /*height: 1px;*/
    height: 0px;
    margin: 5px 0px;
    overflow: hidden;
    /*background-color: $border-color;*/
    border-bottom: 1px solid #c2d3d7; }
  /* line 69, /var/www/groupoffice-webclient/app/scss/widgets */
  ul.list > .index, section.list > .index, .dropdown menu > li.index, ul.go-autocomplete-list li.index {
    cursor: default;
    display: block;
    overflow: visible;
    height: 0px;
    line-height: 0px;
    padding: 0;
    margin: 0;
    margin-top: 0px;
    margin-left: 80px;
    border-top: 1px solid #c2d3d7;
    position: relative; }
    /* line 70, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > .index:first-child, section.list > .index:first-child, .dropdown menu > li.index:first-child, ul.go-autocomplete-list li.index:first-child {
      border: 0; }
      /* line 72, /var/www/groupoffice-webclient/app/scss/widgets */
      ul.list > .index:first-child i, section.list > .index:first-child i, .dropdown menu > li.index:first-child i, ul.go-autocomplete-list li.index:first-child i {
        top: 25px; }
    /* line 91, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > .index h2, section.list > .index h2, .dropdown menu > li.index h2, ul.go-autocomplete-list li.index h2, ul.list > .index i, section.list > .index i, .dropdown menu > li.index i, ul.go-autocomplete-list li.index i {
      text-transform: uppercase;
      color: #0e9cc5;
      position: absolute;
      top: 35px;
      left: -50px;
      font-size: 1.3em;
      font-weight: 700;
      z-index: 1; }
    /* line 102, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > .index i, section.list > .index i, .dropdown menu > li.index i, ul.go-autocomplete-list li.index i {
      color: #333; }
    /* line 106, /var/www/groupoffice-webclient/app/scss/widgets */
    ul.list > .index h2, section.list > .index h2, .dropdown menu > li.index h2, ul.go-autocomplete-list li.index h2 {
      top: 35px; }

/* line 116, /var/www/groupoffice-webclient/app/scss/widgets */
.dropdown menu, ul.go-autocomplete-list, .go-date-picker-popup {
  position: absolute;
  display: block !important;
  transform: scale(1);
  text-align: left;
  transition: transform 0.2s ease-out 0s;
  list-style-type: none;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  min-width: 160px;
  margin: 0;
  background-color: white;
  border: 1px solid #c2d3d7;
  transform-origin: left top 0; }
  /* line 124, /var/www/groupoffice-webclient/app/scss/widgets */
  .dropdown menu.ng-hide, ul.ng-hide.go-autocomplete-list, .ng-hide.go-date-picker-popup {
    transform: scale(0); }
  /* line 144, /var/www/groupoffice-webclient/app/scss/widgets */
  .dropdown menu.top-right, ul.top-right.go-autocomplete-list, .top-right.go-date-picker-popup {
    transform-origin: right top 0;
    left: auto;
    right: 0px; }

/* line 155, /var/www/groupoffice-webclient/app/scss/widgets */
ul.list {
  list-style-type: none; }

/* line 166, /var/www/groupoffice-webclient/app/scss/widgets */
section.list > * {
  padding: 8px 12px; }
  /* line 169, /var/www/groupoffice-webclient/app/scss/widgets */
  section.list > *.index ~ * {
    /*> a, > label{*/
    padding-left: 80px;
    /*}*/ }
  /* line 175, /var/www/groupoffice-webclient/app/scss/widgets */
  section.list > *.index {
    color: #333;
    margin-top: 12px;
    margin-bottom: 12px; }

/**
 * TOOLBAR
 */
/* line 197, /var/www/groupoffice-webclient/app/scss/widgets */
menu[type="toolbar"] {
  display: table;
  width: 100%;
  height: 60px;
  color: #0e9cc5;
  border-bottom: 1px solid #c2d3d7;
  border-right: 1px solid #c2d3d7;
  padding: 0 16px; }
  /* line 205, /var/www/groupoffice-webclient/app/scss/widgets */
  menu[type="toolbar"] > li {
    list-style-type: none;
    display: table-cell;
    vertical-align: middle; }
    /* line 211, /var/www/groupoffice-webclient/app/scss/widgets */
    menu[type="toolbar"] > li:last-child {
      text-align: right; }
    /* line 215, /var/www/groupoffice-webclient/app/scss/widgets */
    menu[type="toolbar"] > li > * {
      display: inline-block;
      min-width: 30px; }
  /* line 220, /var/www/groupoffice-webclient/app/scss/widgets */
  menu[type="toolbar"] + * {
    top: 60px; }

/**
 * DROPDOWN
 */
/* line 231, /var/www/groupoffice-webclient/app/scss/widgets */
.dropdown {
  position: relative;
  display: inline-block; }
  /* line 237, /var/www/groupoffice-webclient/app/scss/widgets */
  .dropdown > button:focus + menu, .dropdown > button:hover + menu, .dropdown > a:focus + menu, .dropdown > a:hover + menu {
    transform: scale(1); }
  /* line 242, /var/www/groupoffice-webclient/app/scss/widgets */
  .dropdown menu {
    top: 0;
    transform: scale(0); }
    /* line 249, /var/www/groupoffice-webclient/app/scss/widgets */
    .dropdown menu:hover {
      transform: scale(1); }

/* line 265, /var/www/groupoffice-webclient/app/scss/widgets */
.avatar {
  background-color: #C3E6F0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px; }
  /* line 274, /var/www/groupoffice-webclient/app/scss/widgets */
  .avatar img {
    min-width: 100%;
    height: 100%; }
  /* line 279, /var/www/groupoffice-webclient/app/scss/widgets */
  .avatar.big {
    height: 80px;
    width: 80px; }

/* line 287, /var/www/groupoffice-webclient/app/scss/widgets */
aside {
  width: 15%; }
  /* line 291, /var/www/groupoffice-webclient/app/scss/widgets */
  aside .panel {
    box-shadow: 1px 0px 2px 0px #c2d3d7;
    z-index: 110; }
    /* line 297, /var/www/groupoffice-webclient/app/scss/widgets */
    aside .panel .list i {
      margin: 0px 20px;
      font-size: 1.2em;
      color: #333; }
    /* line 303, /var/www/groupoffice-webclient/app/scss/widgets */
    aside .panel .list a {
      color: #0e9cc5;
      padding: 12px 12px; }

/* line 3, /var/www/groupoffice-webclient/app/scss/header */
body > header:first-child {
  color: white;
  height: 92px;
  background-color: #0e9cc5;
  line-height: 92px;
  padding: 0 15px; }
  /* line 12, /var/www/groupoffice-webclient/app/scss/header */
  body > header:first-child .left > * {
    line-height: 24px; }
  /* line 16, /var/www/groupoffice-webclient/app/scss/header */
  body > header:first-child .left .logo {
    font-size: 2em;
    height: 45px;
    display: inline-block;
    padding-left: 60px;
    margin-left: 15px;
    line-height: 45px;
    background-image: url('../resources/groupoffice-logo.png');
    background-position: left middle;
    background-repeat: no-repeat; }
  /* line 29, /var/www/groupoffice-webclient/app/scss/header */
  body > header:first-child .right {
    text-align: right; }
    /* line 31, /var/www/groupoffice-webclient/app/scss/header */
    body > header:first-child .right > * {
      line-height: 24px; }

/* line 38, /var/www/groupoffice-webclient/app/scss/header */
body > main {
  position: absolute;
  top: 92px;
  bottom: 0;
  width: 100%;
  overflow: hidden; }

/* line 11, /var/www/groupoffice-webclient/app/scss/utils */
button.action i, .btn.action i, .panel header .avatar, .panel header .go-image-upload, .panel header .title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block; }

/* line 19, /var/www/groupoffice-webclient/app/scss/utils */
.card {
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16); }

/* line 29, /var/www/groupoffice-webclient/app/scss/utils */
.panel {
  border-right: 1px solid #c2d3d7;
  bottom: 0;
  margin: 0;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  top: 0;
  width: 100%; }
  /* line 39, /var/www/groupoffice-webclient/app/scss/utils */
  .col:last-child .panel, aside:last-child .panel {
    border-right: 0px; }
  /* line 43, /var/www/groupoffice-webclient/app/scss/utils */
  .panel header {
    height: 190px;
    padding: 30px;
    position: relative; }
    /* line 49, /var/www/groupoffice-webclient/app/scss/utils */
    .panel header .avatar, .panel header .go-image-upload {
      float: left;
      z-index: 100;
      line-height: 0;
      margin-right: 30px; }
    /* line 57, /var/www/groupoffice-webclient/app/scss/utils */
    .panel header menu[type=toolbar] {
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      border-bottom: 0px; }
    /* line 65, /var/www/groupoffice-webclient/app/scss/utils */
    .panel header .title {
      float: left; }

/* line 75, /var/www/groupoffice-webclient/app/scss/utils */
.right {
  float: right; }

/* line 76, /var/www/groupoffice-webclient/app/scss/utils */
.left {
  float: left; }

/* line 77, /var/www/groupoffice-webclient/app/scss/utils */
.pad {
  padding: 20px; }

/* line 80, /var/www/groupoffice-webclient/app/scss/utils */
.col, aside {
  min-height: 1px;
  border: 0 none;
  float: left;
  height: 100%;
  position: relative; }
  /* line 87, /var/www/groupoffice-webclient/app/scss/utils */
  .col.fill, aside.fill {
    overflow: hidden;
    float: none; }

/* line 96, /var/www/groupoffice-webclient/app/scss/utils */
.w1-2, .w3-6, .w2-4 {
  width: 50%; }

/* line 98, /var/www/groupoffice-webclient/app/scss/utils */
.w1-3, .w2-6 {
  width: 33.33333%; }

/* line 99, /var/www/groupoffice-webclient/app/scss/utils */
.w1-4 {
  width: 25%; }

/* line 101, /var/www/groupoffice-webclient/app/scss/utils */
.w2-3, .w4-6 {
  width: 66.66667%; }

/* line 102, /var/www/groupoffice-webclient/app/scss/utils */
.w1-5 {
  width: 20%; }

/* line 103, /var/www/groupoffice-webclient/app/scss/utils */
.w2-5 {
  width: 40%; }

/* line 104, /var/www/groupoffice-webclient/app/scss/utils */
.w3-5 {
  width: 60%; }

/* line 105, /var/www/groupoffice-webclient/app/scss/utils */
.w4-5 {
  width: 80%; }

/* line 106, /var/www/groupoffice-webclient/app/scss/utils */
.w1-6 {
  width: 16.66667%; }

/* line 107, /var/www/groupoffice-webclient/app/scss/utils */
.w5-6 {
  width: 83.33333%; }

/* line 114, /var/www/groupoffice-webclient/app/scss/utils */
.group {
  white-space: nowrap; }
  /* line 119, /var/www/groupoffice-webclient/app/scss/utils */
  .group > * {
    display: inline-block; }

/* line 129, /var/www/groupoffice-webclient/app/scss/utils */
.show-if-only-child {
  display: none !important; }
  /* line 132, /var/www/groupoffice-webclient/app/scss/utils */
  .show-if-only-child:only-child {
    display: inherit !important; }

/* rotate an element */
/* line 3, /var/www/groupoffice-webclient/app/scss/animate */
.animate-spin:hover {
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  /* line 11, /var/www/groupoffice-webclient/app/scss/animate */
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  /* line 12, /var/www/groupoffice-webclient/app/scss/animate */
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  /* line 13, /var/www/groupoffice-webclient/app/scss/animate */
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/* end rotate an element */
/* line 18, /var/www/groupoffice-webclient/app/scss/animate */
.animate-show-height {
  transition: 0.2s ease-out all;
  overflow: hidden; }
  /* line 22, /var/www/groupoffice-webclient/app/scss/animate */
  .animate-show-height.ng-hide {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0 !important; }

/* line 1, /var/www/groupoffice-webclient/app/core/components/form/show-error/show-error */
.show-error {
  position: absolute;
  z-index: 1070;
  display: block;
  font-size: 12px;
  line-height: 1.4;
  visibility: visible;
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
  padding: 5px 0;
  margin-top: 0px;
  margin-left: 10px;
  /*	&.active{
			opacity: .9;
		}*/ }
  /* line 18, /var/www/groupoffice-webclient/app/core/components/form/show-error/show-error */
  .show-error .inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #a94442;
    text-decoration: none;
    background-color: #f2dede;
    border-radius: 4px; }
  /* line 27, /var/www/groupoffice-webclient/app/core/components/form/show-error/show-error */
  .show-error .arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #f2dede; }
  /* line 46, /var/www/groupoffice-webclient/app/core/components/form/show-error/show-error */
  .show-error.ng-hide {
    opacity: 0; }

/* line 53, /var/www/groupoffice-webclient/app/core/components/form/show-error/show-error */
.im-input-group-multiple .error-balloon {
  bottom: -34px; }

/* line 1, /var/www/groupoffice-webclient/app/core/alerts/alerts */
.go-alerts {
  position: absolute;
  bottom: 10px;
  right: 20px; }
  /* line 9, /var/www/groupoffice-webclient/app/core/alerts/alerts */
  .go-alerts div {
    opacity: 0.8;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid; }
    /* line 21, /var/www/groupoffice-webclient/app/core/alerts/alerts */
    .go-alerts div.warning {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b; }
    /* line 27, /var/www/groupoffice-webclient/app/core/alerts/alerts */
    .go-alerts div.danger {
      background-color: #f2dede;
      border-color: #ebccd1;
      color: #a94442; }

/* line 1, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
.go-date-picker-popup {
  padding: 10px;
  text-align: center; }
  /* line 8, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
  .go-date-picker-popup button {
    padding: 4px; }
    /* line 11, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
    .go-date-picker-popup button.active {
      box-shadow: none; }
  /* line 16, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
  .go-date-picker-popup button[role=heading] {
    width: 100%; }
  /* line 20, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
  .go-date-picker-popup em {
    font-size: 0.8em;
    color: #757575; }
  /* line 26, /var/www/groupoffice-webclient/app/core/components/form/datepicker/datepicker */
  .go-date-picker-popup th small {
    text-transform: uppercase; }

/* line 1, /var/www/groupoffice-webclient/app/core/components/form/numeric/_numeric.scss */
input.go-numeric {
  text-align: right;
  /*	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	-moz-appearance:textfield;*/ }

/* line 7, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
form .row .go-multiselect > ul:first-child {
  display: inline;
  margin: 0;
  padding: 0;
  /*		> li:after {
							content: ", ";
						};*/
  /*		>li:last-child:after {
							content: "";
						};*/ }
  /* line 13, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
  form .row .go-multiselect > ul:first-child > li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0; }
    /* line 19, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
    form .row .go-multiselect > ul:first-child > li i {
      display: none; }
    /* line 24, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
    form .row .go-multiselect > ul:first-child > li:hover i {
      display: inline; }
/* line 42, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
form .row .go-multiselect input {
  border: 0 !important;
  box-shadow: none;
  min-width: 20px;
  width: 80px;
  overflow: visible;
  display: inline-block;
  padding: 0; }
  /* line 56, /var/www/groupoffice-webclient/app/core/components/form/multiselect/multiselect */
  form .row .go-multiselect input.ng-dirty {
    border-color: none !important;
    box-shadow: none !important; }

/* line 1, /var/www/groupoffice-webclient/app/core/components/progress/progress */
.go-progress {
  margin: 10px 0;
  display: block;
  position: relative;
  background: #d9edf7;
  width: 100%;
  height: 4px; }
  /* line 12, /var/www/groupoffice-webclient/app/core/components/progress/progress */
  .go-progress .inidicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    background: #31708f; }

/* line 7, /var/www/groupoffice-webclient/app/core/components/form/image-upload/image-upload */
.go-image-upload .dropdown > a {
  line-height: 0;
  display: block; }
/* line 13, /var/www/groupoffice-webclient/app/core/components/form/image-upload/image-upload */
.go-image-upload .img-container {
  background-color: #C3E6F0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden; }

/**
 * TABS
 */
/* line 4, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
section.tabs {
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  overflow: hidden;
  top: 190px;
  width: 100%; }
  /* line 15, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  section.tabs > menu {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid #c2d3d7;
    height: 40px; }
    /* line 24, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
    section.tabs > menu > a {
      transition: all 0.5s ease-out;
      outline: 0;
      text-overflow: ellipsis;
      flex: 1 1 0;
      text-transform: uppercase;
      text-align: center;
      font-size: 1.1em;
      font-weight: 700;
      color: rgba(33, 33, 33, 0.7);
      padding: 0 4px;
      line-height: 39px;
      cursor: pointer;
      border-bottom: 2px solid transparent; }
      /* line 41, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
      section.tabs > menu > a:hover {
        color: #212121; }
      /* line 44, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
      section.tabs > menu > a.active {
        z-index: 2;
        color: #212121;
        border-bottom: 2px solid #0e9cc5;
        cursor: default;
        box-shadow: none; }
  /* line 54, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  section.tabs > div {
    position: absolute;
    background-color: white;
    bottom: 0;
    top: 60px;
    right: 0;
    left: 0; }

/* line 66, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
.go-tab-view {
  z-index: 100; }
  /* line 70, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-enter {
    transition: all 0.2s linear; }
  /* line 75, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-leave {
    transition: all 0.4s linear;
    z-index: 99 !important; }
  /* line 82, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-enter.right {
    transform: translateX(-100%);
    /*opacity: 0;*/ }
  /* line 88, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-enter-active.right {
    transform: translateX(0%);
    /*opacity: 1;*/ }
  /* line 93, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-leave.right {
    /*opacity: 1;*/
    transform: translateX(0%); }
  /* line 98, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-leave-active.right {
    /*opacity: 0;*/
    transform: translateX(100%); }
  /* line 105, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-enter.left {
    transform: translateX(100%);
    /*opacity: 0;*/ }
  /* line 111, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-enter-active.left {
    transform: translateX(0%);
    /*opacity: 1;*/ }
  /* line 116, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-leave.left {
    /*opacity: 1;*/
    transform: translateX(0%); }
  /* line 121, /var/www/groupoffice-webclient/app/core/components/tab-panel/tab-panel */
  .go-tab-view.ng-leave-active.left {
    /*opacity: 0;*/
    transform: translateX(-100%); }

/*# sourceMappingURL=app.css.map */
