@charset "UTF-8";

@import 'config';
@import 'angular';
@import 'form';
@import 'buttons';

//components
@import '../core/components/form/show-error/show-error';
@import '../core/alerts/alerts';
@import "../core/components/form/autocomplete/autocomplete";
@import "../core/components/form/datepicker/datepicker";
@import "../core/components/form/numeric/_numeric.scss";

html{
	margin:0;
	padding:0;
	overflow: hidden;
}

body{
	font-family: $base-font;	
	font-color: $primary-color;
	font-size: 12px;
	background-color: $body-bg-color;
}

pre {
	white-space: pre-wrap;  
}

a {
	cursor:pointer;
}