<h1>Kitchensink</h1>

<div ng-controller="KsAutocompleteController">


	

	<form>
		
		<div class="row">
			<label for="autocomplete">
				Autocomplete
			</label>

			<input name="autocomplete" id="autocomplete" type="text" go-autocomplete="model as model.name for model in store.items" ng-model="formModel.autocomplete">
		</div>	
		
		
		<div class="row">
			<label for="date">
				Date
			</label>

			<input type="text" ng-model="formModel.date" datepicker-popup="dd-MM-yyyy" />
			
			<!--<input type="date" name="date" id="date" ng-model="formModel.date" placeholder="yyyy-MM-dd">-->
		</div>

	</form>

</div>
