
<div class="col w1-3">

	<menu type="toolbar" class="pad-list-index">
		<li>
			<h2>Kitchen sink</h2>
		</li>		
	</menu>


	<ul class="items panel">
		<li ui-sref-active="selected">
			<a ui-sref="kitchensink.form">Form</a>
		</li>
		<li ui-sref-active="selected">
			<a ui-sref="kitchensink.list">List</a>
		</li>
		<li ui-sref-active="selected">
			<a ui-sref="kitchensink.alerts">Alerts</a>
		</li>
		<li ui-sref-active="selected">
			<a ui-sref="kitchensink.modal">Modal</a>
		</li>
	</ul>
</div>
<div class="col fill" ui-view></div>
