.go-date-picker-popup {
	z-index: 10;
	background-color: #fff;
	border: solid 1px $border-color;
	text-align: center;
	display: block;
	position: absolute;
	padding: 5px;
	
	button{
		padding: 4px;
		
		&.active{
			box-shadow: none;
		}
	}
	
	button[role=heading]{
		width: 100%;
	}
	
	.toolbar{
		padding: 10px;
	}
}