.go-date-picker-popup {
	
	@extend %popup;
	
	padding: 10px;
	text-align: center;
	
	button{
		padding: 4px;
		
		&.active{
			box-shadow: none;
		}
	}
	
	button[role=heading]{
		width: 100%;
	}
	
	em{
		font-size: .8em;
		color: $color-small;
	}
	
	th{
		small{
			text-transform: uppercase;
		
		}
	}
}