.go-date-picker-popup {
	
	@extend %dropdown;
	
	padding: 10px;
	text-align: center;
	
	button{
		padding: 4px;
		
		&.active{
			box-shadow: none;
		}
	}
	
	button[role=heading]{
		width: 100%;
	}
	
	.toolbar{
		padding: 10px;
	}
}