
<div class="col w1-3">
	<!--	<div class="panel pad">
			<div class="card pad">-->
	<menu type="toolbar">
		<li><h2>{{"Fields"| goT}}</h2></li>
		<li></li>
	</menu>
	
	
	<ul class="panel items" as-sortable="dragControlListeners" ng-model="fieldStore.items">
		<li as-sortable-item ng-repeat="field in fieldStore.items" ng-class="{'deleted': field.deleted}">
			
			
			<a ui-sref='customfields.model.field({fieldId: field.id, fieldSetId: fieldSetId})'>
				
	
				{{field.name}}
				
				
			</a>
			
			
			<div class="dropdown">
				<button class="menu"><i class="menu-dot"></i></button>
				<menu class="popup top-right">

					<!--<li><a ui-sref='customfields.model.field({fieldId: field.id, fieldSetId: fieldSetId})'>Edit</a></li>-->
					<li><a ng-click="field.delete()">Delete</a></li>

				</menu>
			</div>

			
		</li>
	</ul>

	<a class="btn action" ui-sref='customfields.model.field({fieldId:0, fieldSetId: fieldSetId})'><i class="plus"></i></a>
		
</div>

<ui-view></ui-view>