ul.go-autocomplete-list{
	//position:absolute;

	
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 2px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	display: none;
	//float: left;
	font-size: 14px;
	//left: 0;
	list-style: outside none none;
	margin: -38px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	top: auto !important;
	z-index: 1000;
	li{
		padding: 6px;
		
		border-top: 1px solid $border-color;
		&:first-child{
			border-top: 0;
		}
		
		&.active{
			background-color: $active-bg;
			color: $active-text;
		}
	}
	
}