		<div class="wrapper">
			<div class="left">
					<i style="float:left" class="i-navigation-menu"></i>
					<h1 class="logo">Group Office</h1>
				
			</div>
			<nav class="right" style="width: 50%; text-align:right;">
				
					<a href="#" style="padding:20px 6px;">
						<i class="big i-action-info" style="margin-right:10px;"></i>
					</a>
				
				<a href="#">
						<i class="big i-action-announcement"></i>
					</a>
				<menu class="dd" style="margin:20px 0 0 6px;">
					<a href="#">
						<i class="big i-navigation-more-vert"></i>
					</a>
					<ul class="top-left">
						<li><a href="#">Settings</a></li>
						<li><a href="#">Help</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</menu>
			</nav>
				<br style="clear:both;">
				<section class="tabs">
					<nav id="app-bar" class="tab-bar">
						<a href="#">Agenda</a>
						<a href="#">Taken</a>
						<a href="#">Bestanden</a>
						<a class="active" href="#">Adresboek</a>
						<a href="#">Facturatie</a>
						<a href="#">Projecten</a>
						<a href="#">Tijdregistratie</a>
						<a href="#">Email</a>
					</nav>
				</section>
		</div>
	
