<nav class="left">	
	<div class="dropdown">
		<button>
			<i class="menu-ham"></i>
		</button>

		<menu class="popup">	
			<li ng-repeat="module in ::modules"><a ui-sref="{{module.name}}">{{::module.clientAttributes.title| goT}}</a></li>			
		</menu>
	</div>
	<h1 class="logo">Group Office</h1>
</nav>
<nav class="right">

	<button>
		<i class="info"></i>
	</button>

	<button>
		<i class="bell"></i>
	</button>

	<div class="dropdown">
		<button>
			<i class="menu-dot"></i>
		</button>

		<menu class="popup top-right">	
			<li><a>Settings</a></li>
			<li><a>Help</a></li>
			<li><a>About</a></li>
			<li><a ng-click="logout()">Logout</a></li>	
		</menu>
	</div>
</nav>