<form name="loginForm" novalidate go-submit="login(user)" role="form">

	<div class="login">
<!--		<legend>{{"Login"| goT}}</legend>-->


		<div class="row">
			<label for="username">{{"Username"| goT}}</label>
			<input id="username" name="username" type="text" ng-model="user.username" placeholder="{{'Username'| goT}}" required go-autofocus>
			<go-show-error for="username"></go-show-error>
		</div>			

		<div class="row">
			<label for="password">{{"Password"| goT}}</label>
			<input id="password" name="password" type="password" ng-model="user.password" placeholder="{{'Password'| goT}}" required>
			<go-show-error for="password"></go-show-error>
		</div>

		<div class="row">
			<label><input type="checkbox" ng-model="user.remember"> {{'Remember my login'| goT}}</label>
		</div>
		
		
<!--		<div class="row">-->
			<!--<button type="reset">{{'Reset'| goT}}</button>-->
		<button type="submit">{{'Login'| goT}}</button>
		<!--</div>-->

	</div>

	
</form>