
<aside>
	<div class="panel">
		<ul class="list" go-infinite-scroll="roleStore.nextPage()" go-infinite-scroll-disabled="!roleStore.shouldLoad()">
			<li ng-repeat="role in roleStore.items track by role.id" ng-if="roleStore.getIndexChar('name', $index) !== ''"><a ui-sref-active="active" ui-sref="users.list({role:role.id})" ><i class="group"></i> {{role.name}}</a></li>
			<li ng-if="roleStore.busy" class="loading-more"><i class="reload"></i> {{"Loading more items..."| goT}}</li>
		</ul>
	</div>
</aside>

<ui-view></ui-view>
