<go-loadmask ng-if="onSettingsPage" active="contact.$showMask"></go-loadmask>


<form name="contactForm" go-submit="save()" novalidate>

	<menu type="toolbar">
		<li>
			<a ng-if="!onSettingsPage" class="btn" ng-click="cancel();">
				<i class="arrow-left"></i>
			</a>

			<a ng-if="onSettingsPage" class="btn visible-xs" ui-sref="settings">				
				<i class="arrow-left"></i>
			</a>
		</li>
		<li>
			<button type="submit"><i class="check"></i></button>
		</li>
	</menu>


	<div class="panel">

		<fieldset>
			<legend>{{"Properties" | goT}}</legend>
		


		<div class="row">

			<label ng-if="!contact.isCompany" for="contactName">{{"Name"| goT}}</label>
			<label ng-if="contact.isCompany" for="companyName">{{"Name"| goT}}</label>

			<span class="group" ng-if='!contact.isCompany'>

				<input type="text" id="name" name="contactName" ng-model="contact.name" ng-change="changeFullName()" required go-autofocus />				
				<button class="small" type="button" ng-click="toggleName()"><i class="arrow-down" ng-class="{'arrow-down': !showNameParts, 'arrow-up': showNameParts}"></i></button>					

			</span>


			<div class="ab-name-group" ng-if="contact.isCompany">
				<input type="text" id="name" name="companyName" ng-model="contact.name" required go-autofocus />
			</div>

			<im-image-upload-placeholder class="ab-contact-photo"
										 im-image-attribute="contact.photoFilePath"
										 im-image-temp-attribute="contact.photoTempPath"
										 im-delete-permission="contact.permissions.editAccess" 
										 im-thumb-route="contacts/{{contact.id}}/thumb"
										 im-thumb-width="75"
										 im-thumb-height="100"
										 ></im-image-upload-placeholder>


			<go-show-error ng-if="!contact.isCompany" for="contactName" go-model="contact"></go-show-error>
			<go-show-error ng-if="contact.isCompany" for="companyName" go-model="contact"></go-show-error>
		</div>


		<div ng-if="showNameParts">
			<div class="row">
				<label for="firstName">{{"First name"| goT}}</label>

				<input type="text" id="firstName" ng-model="contact.firstName" required />

			</div>

			<div class="row">							
				<label for="middleName">{{"Middle name"| goT}}</label>								
				<input type="text" id="middleName" ng-model="contact.middleName" />								
			</div>

			<div class="row">							
				<label for="lastName">{{"Last name"| goT}}</label>
				<input type="text" id="lastName" ng-model="contact.lastName" />
			</div>
		</div>


		<div class="row" ng-if="!contact.isCompany">
			<label>{{"Gender"| goT}}</label>

			<span class="group">		
				<label>
					<input type="radio" ng-model="contact.gender" ng-value="null"> {{"Unknown"| goT}}
				</label>
				<label>
					<input type="radio" ng-model="contact.gender" value="M"> {{"Male"| goT}}
				</label>
				<label>
					<input type="radio" ng-model="contact.gender" value="F"> {{"Female"| goT}}
				</label>
			</span>
		</div>


		<div class="row">
			<label>{{"Special dates"| goT}}</label>			

			<span>
				<div ng-if="!specialDate.markDeleted" class="group" ng-repeat="specialDate in contact.dates">					 

					<input style="width:70%" type="text" name="date_{{$index}}" ng-model="specialDate.date" datepicker-popup />

					<select 
					    style="width:30%"
						ng-model="specialDate.type" 
						ng-options="number.value as number.label for number in dateOptions">											
					</select>

					<go-show-error for="date_{{$index}}" attribute-name="date" go-model="specialDate"></go-show-error>

					<button type="button" ng-click="specialDate.markDeleted = true;">
						<i class="remove"></i>
					</button>

				</div>

				<button type="button" ng-click="addDate()">{{"Add special date"| goT}}</button>
			</span>

		</div>



		<div class="row">
			<label>{{"E-mail"| goT}}</label>

			<span>
				<div class="group" ng-if="!emailAddress.markDeleted" ng-repeat="emailAddress in contact.emailAddresses">				
					<input style="width:70%" type="email" name="email_{{$index}}" ng-model="emailAddress.email" go-autofocus="$index > 0 && !emailAddress.id">

					<select 
						style="width:30%"
						ng-model="emailAddress.type" 
						ng-options="number.value as number.label for number in emailAddressOptions">											
					</select>

					<button type="button" class="btn btn-danger" ng-click="emailAddress.markDeleted = true;"><i class="remove"></i></button>
					<go-show-error for="email_{{$index}}" attribute-name="email" go-model="emailAddress"></go-show-error>
				</div>
				

				<button type="button" ng-click="addEmailAddress()">{{"Add e-mail address"| goT}}</button>
			</span>



		</div>



		<div class="row">
			<label>{{"Phone"| goT}}</label>

			<span>
				<div ng-if="!phoneNumber.markDeleted" class="group" ng-repeat="phoneNumber in contact.phoneNumbers">

					<input style="width:70%" type="text" name="number_{{$index}}" ng-model="phoneNumber.number" go-autofocus="$index > 0 && !phoneNumber.id">
					<select style="width:30%" ng-model="phoneNumber.type" ng-options="number.value as number.label for number in phoneNumberOptions"></select>

					<go-show-error for="number_{{$index}}" attribute-name="number" go-model="phoneNumber"></go-show-error>

					<button type="button" ng-click="phoneNumber.markDeleted = true;"><i class="remove"></i></button>

				</div>
				<button type="button" ng-click="addPhoneNumber()">{{"Add phone number"| goT}}</button>
			</span>
		</div>

		<div class="row">
			<label for="tags">{{"Tags"| goT}}</label>	
			
			<input name="tags" id="tags" type="text" go-autocomplete="model as model.name for model in getAutoCompleteData($viewValue)" placeholder="{{'Add tags...'| goT}}" ng-model="contact.tags">


		</div>


		<script type="text/ng-template" id="customTemplate.html">
			<a>
			<span ng-if="!match.model.id">{{"Create new company" | goT}}: </span>
			<span bind-html-unsafe="match.label | goTypeaheadHighlight:query"></span>
			</a>
		</script>

		<div class="row" ng-if="!contact.isCompany">
			<label>{{"Company"| goT}}</label>	
			<input type="text" go-autocomplete-template-url="customTemplate.html" ng-model="contact.company" go-autocomplete="company as company.name for company in getCompanies($viewValue)">
		</div>

		<div class="row">
			<label>{{"Addresses"| goT}}</label>


			<div>
				<div ng-if="!address.markDeleted"ng-repeat="address in contact.addresses">

					<div class="group">
						<select class="control" ng-model="address.type" ng-options="number.value as number.label for number in emailAddressOptions"></select>
						<button type="button" ng-click="address.markDeleted = true;"><i class="remove"></i></button>						
					</div>

					<div class="row">
						<textarea ng-model="address.street" go-autofocus="!address.id" style="height:70px" placeholder="{{'Street address'| goT}}"></textarea>		
					</div>
					<div class="row">
						<input type="text" ng-model="address.zipCode" placeholder="{{'Zip code'| goT}}">
					</div>
					<div class="row">
						<input type="text" ng-model="address.city" placeholder="{{'City'| goT}}">
					</div>
					<div class="row">
						<input type="text" ng-model="address.state" placeholder="{{'State / Province / Region'| goT}}">
					</div>
					<div class="row">
						<input type="text" ng-model="address.country" placeholder="{{'Country'| goT}}" />
					</div>
				</div>	

				<div  style="clear:both">
					<button type="button" ng-click="addAddress()">{{"Add address"| goT}}</button>
				</div>
			</div>




		</div>


		<div class="row">
			<label for="notes">{{"Notes"| goT}}</label>
			<textarea id="notes" msd-elastic="\n" ng-model="contact.notes" style="height:60px">
			</textarea>		
		</div>

		</fieldset>

		<!--</div>-->
		<!--<div class="col-lg-6">-->
		<go-custom-fields-edit go-model="contact" server-model="Intermesh\Modules\Contacts\Model\ContactCustomFields"></go-custom-fields-edit>				
		<!--</div>-->
		<!--</div>-->
	</div>
</form>
