

<form name="timelineItemForm" class="form-horizontal" im-submit="save()" novalidate>


	<div class="modal-header">{{"New Comment"| goT}}</div>

	<div class="modal-body">
		<textarea msd-elastic="\n" name="text" ng-model="timelineItem.text" class="form-control" style="height:60px" go-autofocus required></textarea>
		<im-show-error for="text" im-model="timelineItem"></im-show-error>
	</div>

	<div class="modal-footer">				
		<button type="submit" class="btn btn-primary">{{"OK"| goT}}</button>
		<button class="btn btn-default" ng-click="cancel();" type="button">{{"Cancel"| goT}}</button>	
	</div>			


</form> 
