
<div class="panel">

	
	<go-mask active="contact.deleted">
		
			<button class="text danger" ng-click="unDelete()">{{"Click here undelete" | goT }}</button>
		
	</go-mask>

	<header>
		<menu type="toolbar">
			<li></li>
			<li>
				<a class="btn" ng-disabled="!contact.permissions.write" ui-sref="contacts.edit({contactId: contact.id})"><i class="pencil"></i></a>
				<div class="dropdown">
					<button><i class="menu-dot"></i></button>
					<menu class="popup top-right">
						<li><a ng-click="delete()" ng-disabled="!contact.permissions.delete">Delete</a></li>						
					</menu>
				</div>
			</li>
		</menu>

		<div class="avatar big">
			<img ng-src="{{contact.photo}}&amp;w=80&amp;h=80&amp;zoomCrop=1&amp;access_token={{oauth2AccessToken}}" />
		</div>			
		<div class="title">
			<h2>{{contact.name}}</h2>
			<h3 ng-if="contact.company">{{contact.company.name}}</h3>
		</div>			
	</header>
	
	<go-tab-panel>
		
		<tab ui-sref="contacts.contact.detail({contactId: contact.id})" title="Info"></tab>
		<tab ui-sref="contacts.contact.files({contactId: contact.id})" title="Files"></tab>
		<tab ui-sref="contacts.contact.timeline({contactId: contact.id})" title="Timeline"></tab>
		
	</go-tab-panel>
	

</div>
<!--<go-tabs>
	<div class="go-tab-bar">


		<a ui-sref="contacts.contact.detail({contactId: contact.id})" go-tab-switch  ui-sref-active="active" tooltip="{{'Properties'| goT}}" tooltip-placement="bottom">

			<i class="fa fa-list-alt"></i> <span class="hidden-xs">{{"Properties" | goT}}</span>

		</a>

		<a ui-sref="contacts.contact.files({contactId: contact.id})" go-tab-switch ui-sref-active="active"  tooltip="{{'Files'| goT}}" tooltip-placement="bottom">

			<i class="fa fa-folder-o"></i> <span class="hidden-xs">{{"Files" | goT}}</span>

		</a>	

		<a ui-sref="contacts.contact.timeline({contactId: contact.id})" go-tab-switch ui-sref-active="active"  tooltip="{{'Comments'| goT}}" tooltip-placement="bottom">

			<i class="fa fa-clock-o"></i> <span class="hidden-xs">{{"Timeline" | goT}}</span>

		</a>	

		<a ng-if="hasProjects" ui-sref="contacts.projects({contactId: contact.id})" ui-sref-active="active" tooltip="{{'Projects'| goT}}" tooltip-placement="bottom">

			<i class="fa fa-cogs"></i>

		</a>

		<a ng-if="hasProjects" ui-sref="contacts.contracts({contactId: contact.id})" ui-sref-active="active" tooltip="{{'Contracts'| goT}}" tooltip-placement="bottom">

			<i class="fa fa-retweet"></i>

		</a>

		<a ng-if="hasProjects" ui-sref="contacts.invoices({contactId: contact.id})" ui-sref-active="active" tooltip="{{'Invoices'| goT}}" tooltip-placement="bottom">

			<i class="fa  fa-money"></i>

		</a>

		<a ng-if="hasProjects" ui-sref="contacts.quotes({contactId: contact.id})" ui-sref-active="active" tooltip="{{'Quotes'| goT}}" tooltip-placement="bottom">
			<i class="fa  fa-quote-right"></i>
		</a>
	</div>


	<div ui-view go-tab-view></div>

</go-tabs>-->