
<div data-flow-init="flowInit"
	 data-flow-files-submitted="$flow.upload()"
	 data-flow-file-success="uploadSuccess($file, $message);"
	 data-flow-complete="filesStore.reload()">
	<ul class="panel list"
		>


		<!--		<div ng-repeat="file in $flow.files" class="list-group-item" ng-if="!file.isComplete()">				
					<i class="fa fa-file-o"></i> {{file.name}} <br />
		
					<div class="progress-bar-container">
						<div class="progress progress-striped" ng-class="{active: file.isUploading()}">
							<div class="progress-bar" role="progressbar"
								 aria-valuenow="{{file.progress() * 100}}"
								 aria-valuemin="0"
								 aria-valuemax="100"
								 ng-style="{width: (file.progress() * 100) + '%'}">
								<span class="sr-only">{{file.progress()}}% Complete</span>
							</div>
						</div>
					</div>
				</div>-->

		<li ng-repeat="file in filesStore.items">


			<a ng-class="{'deleted-visible': file.deleted}" target="_blank" href="{{file.downloadUrl}}">
				<i class="file"></i>

				<span ng-if="!file.rename">							
					{{file.name}}
				</span>					

				<input ng-if="file.rename" type="text" ng-model="file.name" ng-blur="saveFile($event, file)" ng-click="$event.stopPropagation();
						$event.preventDefault();" autoselect required im-keypress="{13 : '$event.preventDefault();saveFile($event, file);'}" />

				<span class="right">
					<i class="pencil"ng-click="renameFile($event, file);"></i>

					<im-soft-delete-button im-model="file" im-size="xs"></im-soft-delete-button>
				</span>
			</a>
		</li>

		<li ng-if="!filesStore.busy" class="show-if-only-child pad">
			{{'No items found'| goT}}
		</li>

		<li ng-if="filesStore.busy" class="loading-more"><i class="reload"></i> {{"Loading more items..."| goT}}</li>






	</ul>
	<div class="btn action" data-flow-btn><i class="plus"></i></div>
</div>