
<!--<aside>
	<div class="panel pad">


		<form class="stretch">
			<div class="row">
				<label for="filter-gender">{{'Gender'| goT}}</label>

				<select id="filter-gender" class="form-control" ng-model="filters.gender" ng-options="option.value as option.label for option in genderFilterOptions"></select>
			</div>


			<div class="row">
				<label for="filter-age">{{'Age'| goT}}</label>
				
				<div class="group">					
					<div class="addon">&gt;=</div>
					<input class="fill" go-numeric id="filter-age" type="text" ng-model="filters.age.gt" />										
				</div>

			</div>

			<div class="row">
				<div class="group">
					<div class="addon">&lt;=</div>
					<input class="fill" go-numeric type="text" ng-model="filters.age.lt"  />
				</div>
			</div>

		</form>


	</div>
</aside>-->

<div class="col w1-3">


	<menu type="toolbar" class="pad-list-index">
		<li>
			<div class="dropdown">
				<button class="menu">All <i class="arrow-down"></i></button>
				<menu class="popup">
					<li><a class="selected">All</a></li>
					<li><a>Family</a></li>
					<li><a>Friends</a></li>
					<li><a>Collegas</a></li>
				</menu>
			</div>
		</li>
		<li>
			<!--<input type="search" /><i class="search"></i>-->
			
		<search-button store="store"></search-button>

			<div class="dropdown">
				<button class="menu"><i class="menu-dot"></i></button>
				<menu class="popup top-right">

					<li><a ng-click="store.reload()">Refresh</a></li>
<!--					<li><a>Add Contact</a></li>
					<li><a>Export</a></li>
					<li class="divider"></li>
					<li><a>Settings</a></li>-->

				</menu>
			</div>
		</li>
	</menu>



	<ul class="items panel" go-infinite-scroll="store.nextPage()" go-infinite-scroll-disabled="!store.shouldLoad()">
		<li ng-repeat-start="contact in store.items track by contact.id" class="index" ng-if="store.getIndexChar('name', $index) !== ''"><h2>{{::store.getIndexChar("name", $index)}}</h2></li>
		<li ng-repeat-end ng-class="{'deleted': contact.deleted}" ui-sref-active="selected">
			<div class="icon">
				<div class="avatar">
					<img ng-src="{{contact.photo}}&amp;w=50&amp;h=50&amp;zoomCrop=1&amp;access_token={{oauth2AccessToken}}" />
				</div>				
			</div>
			
			<a ui-sref="contacts.contact.detail({contactId: contact.id})">				
				{{contact.name}}
				<br /><small>{{contact.company.name}}</small>
			</a>
		</li>

		<li ng-show="store.busy" class="loading-more animate"><i class="reload animate-spin"></i> {{"Loading more items..."| goT}}</li>

	</ul>


	<a class="btn action" ui-sref='contacts.edit({contactId: 0})'><i class="plus"></i></a>
</div>
<div class="col fill" ui-view>





</div>
