
<aside>
	<div class="panel pad">


		<form class="stretch">
			<div class="row">
				<label for="filter-gender">{{'Gender'| goT}}</label>

				<select id="filter-gender" class="form-control" ng-model="filters.gender" ng-options="option.value as option.label for option in genderFilterOptions"></select>
			</div>


			<div class="row">
				<label for="filter-age">{{'Age'| goT}}</label>
				
				<div class="group2">					
					<div>&gt;=</div>
					<input go-numeric id="filter-age" type="text" ng-model="filters.age.gt" />										
				</div>

			</div>

			<div class="row">
				<div class="group2">
					<div>&lt;=</div>
					<input go-numeric type="text" ng-model="filters.age.lt"  />
				</div>
			</div>

		</form>


	</div>
</aside>

<div class="col w1-3">


	<menu type="toolbar" class="pad-list-index">
		<li>
			<div class="dropdown">
				<button class="menu">All <i class="arrow-down"></i></button>
				<menu class="popup">
					<li><a class="selected">All</a></li>
					<li><a>Family</a></li>
					<li><a>Friends</a></li>
					<li><a>Collegas</a></li>
				</menu>
			</div>
		</li>
		<li>
			<!--<input type="search" /><i class="search"></i>-->
			<button ><i class="search"></i></button>

			<div class="dropdown">
				<button class="menu"><i class="menu-dot"></i></button>
				<menu class="popup top-right">

					<li><a>Refresh</a></li>
					<li><a>Add Contact</a></li>
					<li><a>Export</a></li>
					<li class="divider"></li>
					<li><a>Settings</a></li>

				</menu>
			</div>
		</li>
	</menu>



	<ul class="list panel" go-infinite-scroll="store.nextPage()" go-infinite-scroll-disabled="!store.shouldLoad()">
		<li ng-repeat-start="contact in store.items track by contact.id" class="index" ng-if="store.getIndexChar('name', $index) !== ''"><h2>{{::store.getIndexChar("name", $index)}}</h2></li>
		<li ng-repeat-end>
			<a ui-sref-active="active" ui-sref="contacts.contact.detail({contactId: contact.id})">
				<div class="avatar">
					<img ng-src="{{contact.photo}}&amp;w=50&amp;h=50&amp;zoomCrop=1" />
				</div>
				<span class="description">
					{{contact.name}}
					<br /><small>{{contact.company.name}}</small>
				</span>
			</a>
		</li>

		<li ng-if="store.busy" class="loading-more"><i class="reload"></i> {{"Loading more items..."| goT}}</li>

	</ul>


	<a class="btn action" ui-sref='contacts.edit({contactId: 0})'><i class="plus"></i></a>
</div>
<div class="col fill" ui-view>





</div>
