
<aside>
	<div class="panel">
		<ul class="list">
			<li>
				<a><i class="clock"></i> Inbox</a>
			</li>
			<li>
				<a><i class="clock"></i> Snoozed</a>
			</li>
			<li>
				<a><i class="clock"></i> Pinned</a>
			</li>
			<li class="divider"></li>
			<li>
				<a><i class="clock"></i> Snoozed</a>
			</li>
			<li>
				<a><i class="clock"></i> Pinned</a>
			</li>
			<li class="divider"></li>
		</ul>
	</div>
</aside>

<div class="col w1-3">
	
	
	<menu type="toolbar" class="pad-list-index">
		<li>
			<button class="menu">All <i class="arrow-down"></i></button>
			<menu class="popup">
				<li><a class="selected">All</a></li>
				<li><a>Family</a></li>
				<li><a>Friends</a></li>
				<li><a>Collegas</a></li>
			</menu>
		</li>
		<li>
			<!--<input type="search" /><i class="search"></i>-->
			<button ><i class="search"></i></button>
			<button class="menu"><i class="menu-dot"></i></button>
			<menu class="popup top-right">
				
				<li><a>Refresh</a></li>
				<li><a>Add Contact</a></li>
				<li><a>Export</a></li>
				<li class="divider"></li>
				<li><a>Settings</a></li>

			</menu>
		</li>
	</menu>



	<ul class="list panel">
		<li class="index">A</li>
		<li>
			<a>
				<div class="avatar">
					<img src="modules/kitchensink/res/thumb1.jpg" />
				</div>
				Alejandro Lengue
				
				
			</a>
		</li>
		<li>
			<a>
				<div class="avatar">
					<i class="avatar"></i>

				</div>
				<strong>Alexandre Schwethelm</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar">
					<img src="modules/kitchensink/res/thumb2.jpg" />
				</div>
				<strong>Andreas Braga</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar">
					<img src="modules/kitchensink/res/thumb3.jpg" />
				</div>
				<strong>Asher Ariel</strong>
			</a>
		</li>
		<li class="index">B</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Bruce Polph</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar">
					<img src="modules/kitchensink/res/thumb4.jpg" />
				</div>
				<strong>Bill Eldridge</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Brandon Eley</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Bob Gizynski</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Bruce Polph</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar">
					<img src="modules/kitchensink/res/thumb4.jpg" />
				</div>
				<strong>Bill Eldridge</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Brandon Eley</strong>
			</a>
		</li>
		<li>
			<a>
				<div class="avatar"></div>
				<strong>Bob Gizynski</strong>
			</a>
		</li>
	</ul>
	
	
	<button class="action"><i class="plus"></i></button>
</div>
<div class="col fill">

	<div class="panel">

		<header>
			<menu type="toolbar">
				<li>
					<button><i class="pencil"></i></button>
					<button><i class="menu-dot"></i></button>
				</li>
			</menu>
			
			<div class="avatar big"></div>			
			<div class="title">				
				<h2>Alejandro Lengue</h2>
				<h3>Virtual orbis</h3>
			</div>			
		</header>
		<section class="tabs">
			<menu>
				<a class="active">Info</a>
				<a>Projecten</a>
				<a>Facturen</a>
				<a>Contracten</a>
				<a>Offertes</a>
				<a>More</a>
			</menu>
			<div class="active pad">
				
				

				
				
				<!-- first tab -->
				<section class="list">
					<div class="index"><i class="phone"></i></div>
					<a href="tel:123432432">
						<strong>+31 (0)6 123456789</strong><br />
						<small>Mobile</small>
					</a>

					<a href="tel:123432432">
						<strong>+31 (0)70 123456789</strong><br>
						<small>Work</small>
					</a>
					
					<div class="index"><i class="email"></i></div>
					
					<a href="mailto:test@intermesh.nl">
						<strong>aleengue@virtualorbis.com</strong><br>
						<small>Work</small>
					</a>
					
					<div>
						<strong>CEO</strong><br>
						<small>Function</small>						
					</div>
					
				</section>
			</div>
		</section>

	</div>

</div>
